[2016-01-31 10:39] ludobrands opened #2 "images get scaled when setting mj-column width"
try following code and look at the image size:
[code]

Try `<mj-column width="400">` to see the image blow up

[2016-01-31 11:01] ludobrands opened #3 "when images in a column are too large, the column is extended to overlap the adjacent column instead of stacking columns."
try following code:
[code]

[2016-01-31 13:00] ludobrands opened #4 "5 columns don't scale anymore"
Code:
[code]

Remove 1 column and all is ok. If 4 columns is the limit it should be documented.

[2016-01-31 13:19] arnaudbreton commented on #4
No media query is generated for `mj-5column`.
Also, each column end up with an attribute `data-column-width="NaN"`

[2016-01-31 13:27] arnaudbreton commented on #3
Adding `width="100%"` on both images fixes the layout.
However, both images end up with a style `max-width: NaN;`. Fixing that seem to fix the issue as well, without having to add the `width` attribute in the markup.

To be tested with Litmus to validate this render properly in email clients.

[2016-01-31 13:32] arnaudbreton commented on #2
Adding `width="100%"` attribute on the first image fixes it, preventing the image to scale up more than its own max size.

For the second image, it's the processed `max-width: 10px` CSS rule which constraints it.

[2016-01-31 13:41] ludobrands opened #5 "Multicolumn has a standard width, single column a variable width."
[code]

vs

[code]

Removing the  redundant `<mj-column >  </mj-column >` in the first example results in aligned text  but there is no reason why a single column should behave different from multi column.
Adding width=100% to the column has the desired effect. This should be the default for a single column.

[2016-02-01 10:13] iRyusa commented on #5
Hello !

I think this is because it's missing a media query, I added one for single column layout.

Layout from exemple looks like this :
![capture d ecran 2016-02-01 a 11 06 19](https://cloud.githubusercontent.com/assets/570317/12714305/375380c0-c8d4-11e5-80ff-b1502e670e40.png)

Instead of this :
![capture d ecran 2016-02-01 a 11 06 43](https://cloud.githubusercontent.com/assets/570317/12714311/3

[2016-02-01 10:35] iRyusa commented on #3
I'm working on it, `mj-image` with no width + parent column with no width cause the image to have NaN `width` and `maxWidth`.

[2016-02-01 16:36] iRyusa opened #7 "MJ-elements are vertically centered on outlook 2007/2010/2013"
MJML to reproduce :
[code]

Expected Result:
![capture d ecran 2016-02-01 a 17 30 21](https://cloud.githubusercontent.com/assets/570317/12723386/8b04453a-c909-11e5-88c3-d8731c5bbcfc.png)

Outlook 2007/2010/2013 result:
![capture d ecran 2016-02-01 a 17 31 31](https://cloud.githubusercontent.com/assets/570317/12723413/b203d63c-c909-11e5-885b-f2f1f97b2d8c.png)

[2016-02-02 10:08] iRyusa commented on #7
The generated outlook `td` should take `vertical-align` of section. It'll do the trick

[2016-02-02 16:47] iRyusa commented on #4
Will be fixed in next release, column with no mjAttribute `width` will behave as if they had a `100 / number of siblings column`

[2016-02-02 16:47] #4 closed

[2016-02-02 16:48] iRyusa commented on #5
Will be fixed in the next release

[2016-02-02 16:48] #5 closed

[2016-02-03 16:55] iRyusa commented on #2
Images scale with column width now, if you want to have a fixed width you have to add `width="20px"` on your `mjImage`

[2016-02-03 16:56] iRyusa commented on #3
Now the image is scaled down to match column width

See PR #9 for implementation details

[2016-02-03 22:35] #2 closed

[2016-02-03 22:35] #3 closed

[2016-02-04 15:13] Scott-Fischer opened #10 "Reference Error"
After installing MJML globally via npm, I get the following error message when running any command in the cli:

$ mjml -r input.mjml
ReferenceError: engine is not defined
    at /usr/local/lib/node_modules/mjml/lib/cli.js:86:12

I do not get any sort of error messages while installing. I also tried running the installer with sudo and the cli commands with sudo and both situations reproduced the er

[2016-02-04 15:22] arnaudbreton commented on #10
Hi @Scott-Fischer,

Thanks for reaching out and sorry your first experience with MJML was not a successful one. There was a typo in a code we merged before the release that we just managed to identify. The fix is almost ready and will be released shortly.

Keep you posted.
Thanks for your patience.

[2016-02-04 15:24] Scott-Fischer commented on #10
Thanks man! I'm actually just glad it wasn't an issue with my local node/npm installation.

As a full time email developer, you have no idea how excited I am to get this up and running!

[2016-02-04 15:27] arnaudbreton commented on #10
Haha, can feel some bad past experience here.

I'm glad to read that you're at least as excited as we are to have released MJML :)!

[2016-02-04 15:48] arnaudbreton commented on #10
@Scott-Fischer, there it is https://github.com/mjmlio/mjml/tree/v1.0.2

Hope it works for you and apologies for the false start..

[2016-02-04 15:52] Scott-Fischer commented on #10
This resolved the issue. Thanks for the quick response!

[2016-02-04 15:56] arnaudbreton commented on #10
@Scott-Fischer glad to hear. Can you please close this issue? Happy MJML-ing!

[2016-02-04 15:57] #10 closed

[2016-02-04 20:52] TheSisb opened #14 "Thoughts about Radium for this project"
Hey just saw this project, looks like a great start and I'm planning on trying it out later.  Noticed in the MJML-tags you use inline styles.  Was wondering if you considered something like Radium to keep it cleaner.

Hope to contribute/use this soon!

[2016-02-05 13:05] victordarras opened #16 "Background-repeat error"
When I'm using a __<mj-section>__ with a background-url and a repeat rule, the rendered CSS is broken.

source :
[code]

styles rendered :
[code]

See the "/" caraxtere has nothing to do here and break the rule .

[2016-02-05 13:35] iRyusa commented on #16
Hello @victordarras ,

I'm sorry this is an unexpected behaviour from MJML, `mj-section` expect to have a `background-size` attribute to generate a proper css rule. You can add `background-size="auto"`to fix it temporarily, I'll open a PR to set it by default.

Keep in mind that at the moment we didn’t find any way to support `background-repeat` in VML for outlook 2007/2010/2013

[2016-02-05 13:39] victordarras commented on #16
Thank you for your answer, if I find a better solution for background-repeat I'll fork the repo ;)

[2016-02-05 13:45] #16 closed

[2016-02-05 15:49] iRyusa commented on #14
Hey @TheSisb, thanks for opening this issue, we appreciate your involvement!
​
Radium looks really nice, however I think it's too much overhead for our case.
It has cool features to scope css and support multiple styling states, but I think we don't need those for standard components.
Can you provide an example on how you could integrate Radium in a simple MJML component like mj-text ?
But Radium

[2016-02-06 17:19] peterfox opened #19 "Adding extras fonts and extra styles"
Doesn't seem to be anything on linking to different styles or how to change any head values in the documentation?

[2016-02-06 19:07] joaopvilla opened #20 "Padding left and right"
There's a way to edit the padding left and right with mjml? 25px by default had broked my design :/
This is a future release? :+1:

[2016-02-07 17:32] jaychow99 opened #21 "Image does not scale to device width in Mobile View."
https://mjml.io/try-it-live/kili

I changed http://placehold.it/250x150 to http://placehold.it/600x400. The image does not scale to device width in Mobile View. I expect it to scale to fit without horizontal scroll.

![screen shot 2016-02-07 at 11 29 52 am](https://cloud.githubusercontent.com/assets/16084615/12873875/38b548e0-cd8e-11e5-9b2b-c59b340569c3.png) ![screen shot 2016-02-07 at 11 39 36 am

[2016-02-07 17:46] jaychow99 commented on #21
I figured it out after reading a closed issue. Add ` width="100%"`
`<mj-image width="100%" src="http://placehold.it/600x400"></mj-image>`

[2016-02-07 17:59] philippebarbosa opened #22 "Mailchimp error with Google Webfont"
Hi,

By default, Mailchimp can't support `@import` webfont directly in a `<style>` tag :
![Image](http://barbo.sa.com/1jr1n/23qAwXGD+)
It works by doing `<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>` instead.

Default compiling from mjml need that the html files must be edited to be Mailchimp compatible :(

[2016-02-07 18:00] philippebarbosa opened #23 "Better CLI debug"
When doing a parse error, the debug does not tell which line from the mjml file is concerned :

[code]

[2016-02-07 18:06] g13nn commented on #22
You could have an option to compile the template with MailChimp's template language.  So it would add required tags, remove in-line styling and compile as editable CSS in your head tags.

[2016-02-07 18:08] michaeldscherr commented on #21
but it would be nice to put the actual width and height of the image, for clients who have their images turned off to start. either the image needs to have a max-width of 100%, or a media query needs to be made for images at a mobile scale to say, "max-width: 100%; height: auto;".

[2016-02-07 18:57] philippebarbosa opened #24 "Columns breaks on some Google Apps account"
_(with Chrome 48.0.2564.97 (64-bit), on Mac OsX El Capitan)_

As seen on your site template :

[code]

Does not render well in gmail :
![Image](http://barbo.sa.com/10xis/3R23XEfQ+)

Work in that case (small texts in columns) :
[code]

but not with more text :

[code]

![](http://barbo.sa.com/7bQw/1bRRHHWN+)

![](http://barbo.sa.com/16su2/KtvqO1XE+)

[2016-02-08 01:38] stepanh opened #25 "Raw rendering not working on some JS code or tags"
We'd like to integrate MJML with EJS. It seems more efficient to generate HTML from MJML only once and then let EJS put in any dynamic text - rather than generating HTML from MJML for every single email.

I thought that using mj-raw component should let us embed EJS code - but it doesn't get rendered properly, i.e.:
`<mj-raw><% if (undefined) {} %></mj-raw>`
renders as
[code]

Two issues here:
1.

[2016-02-08 10:16] kentoo opened #26 "watch won't work"
Pulsar:mjml-demo andrea$ mjml --watch index.mjml -o index.html

/Users/andrea/.npm-packages/lib/node_modules/mjml/lib/cli.js:42
    return new Promise(function (resolve, reject) {
               ^
ReferenceError: Promise is not defined
    at /Users/andrea/.npm-packages/lib/node_modules/mjml/lib/cli.js:42:16
    at render (/Users/andrea/.npm-packages/lib/node_modules/mjml/lib/cli.js:85:3)
    at F

[2016-02-08 10:17] GuillaumeBadi commented on #26
Hey @kentoo !

What is your Node version ?
`node -v`

[2016-02-08 10:19] iRyusa commented on #23
Hello !
At this point, MJML markup doesn't have any validation.

[2016-02-08 10:19] kentoo commented on #26
It's a stable and legacy version: 0.10.25

[2016-02-08 10:24] iRyusa commented on #23
Hello there!

MJML doesn't provide any validation at this point. We're working to provide some on attributes & markup validation but at the moment we have nothing ready to be shown.

The cuurrent warning you have is from React, could you provide your MJML maybe I can help with that ?

[2016-02-08 10:26] iRyusa commented on #24
Hey there!

Did you used the try-it-live ? Because I believe that's fixed on the released mjml packaged, here's how it
render on current `MJML` 1.0.3 on Gmail !

![chromegmailnew-vertical-allowed-1366](https://cloud.githubusercontent.com/assets/570317/12883164/7ecb9816-ce56-11e5-8467-05932208ed23.png)

![chromegmailnew-vertical-allowed-1366 1](https://cloud.githubusercontent.com/assets/570317/1288

[2016-02-08 10:27] GuillaumeBadi commented on #26
Ok, yeah the Promise API is not supported by node 0.10.
I encourage you to update your Node version. 4.2.x would work perfectly ! :+1:

[2016-02-08 10:32] iRyusa commented on #20
Hey there @joaopvilla !

Every padding is editable with `padding-left/right` attribute on any `mj-element` you're using. I found some errors in the current documentation revision, it should be updated today sorry about that. :+1:

[2016-02-08 10:35] iRyusa commented on #21
Hi there !

We've just released the 1.0.3 version of `MJML` that fix the issue in most of clients. However if you're looking at the render in `mobile view` of mjml.io things will still remain broken. It's mostly because the browser will interpret media query, mobile client will ignore them.

Note that using `width: 100%` **isn't supported at all** (#2 is misleading). Image `width` supports only `p

[2016-02-08 10:39] philippebarbosa commented on #23
Hey Maxime,
in my case, i remember that i forgot to put a `mj-column` in my `mj-section`. Only that.
But i had to search few minutes before finding my error. Old school debugging :)

I'm just suggesting error as SCSS procesor do (`"at ligne XX"`… :))

[2016-02-08 10:45] philippebarbosa commented on #24
Hey,
yes, for the "side image" example,  I pasted the code from the try-it live, rendered it and tried to send it to me from Mailchimp template.
Example with the first example template, you can see columns break on my browser : http://barbo.sa.com/sAtK/4u8U6Nl4

But i'm currently using MJML to design my newsletter and did many tests from scratch, and i still have the bug :(

[2016-02-08 11:10] iRyusa commented on #24
Can you provide me the full mjml markup you're using ?

Did you refresh the `try it live`, they updated the MJML package a few minutes ago

[2016-02-08 11:11] iRyusa commented on #19
Hi there !
We didn't provide anything to add some stuff on `head`. Do you have any idea how do you want to

[2016-02-08 11:14] iRyusa commented on #19
Hi there !

We didn't provide anything to add some stuff on `head`. Do you have any idea on how it should be written ?

[code]

Something like this ?

[2016-02-08 11:17] iRyusa commented on #22
@hteumeuleu Replace `style` and `import` with `link` can have a downside for us ?

[2016-02-08 11:25] iRyusa commented on #25
Hello,

This is a bug, `mj-raw`, shouldn't parse anything in it's node. I'm looking into it,  i'll keep you updated.

The mso table ensure that outlook will have a centered 600px table rendered from `mj-body` so it's not really optional

[2016-02-08 11:30] philippebarbosa commented on #24
I've just uddated to `1.0.3`.
Columns still breaking on my gmail :(
Here the cases

- Copy mjml code from [basic](https://mjml.io/try-it-live/basic]), pasted on my file, rendered it and pasted to Mailchimp templates. Then send a test mail to me.
- Did the same thing with the [newsmetter](https://mjml.io/try-it-live/newsletter]) layout.

Please note that each time i need to delete the `@import` fro

[2016-02-08 11:38] iRyusa commented on #24
Mhh don't know what happens, using litmus and copy/pasted html from Try It Live I have this :
![capture d ecran 2016-02-08 a 12 34 48](https://cloud.githubusercontent.com/assets/570317/12884753/b6b627c8-ce60-11e5-8a82-89a91cb1fcb8.png)

Can Mailchimp alter the html?

[2016-02-08 11:48] philippebarbosa commented on #24
Sounds like you said something very interesting : Mailchimp may alter the html. Can't see anything else :( Do you want me to send you a test case, so you could investigate the code ?
I'm going to make searchs on it tonight, i'll give you informations if i find something.

[2016-02-08 12:08] iRyusa commented on #24
Would like to !  Can you send this html https://gist.github.com/iRyusa/5d8b669fae9c6bb4ba94 to me at maxime@derniercri.io ?

[2016-02-08 12:12] philippebarbosa commented on #24
Done !

[2016-02-08 12:12] philippebarbosa commented on #24
Please not that line 22 to 24 are deleted before sending (see #22)

[2016-02-08 13:22] iRyusa commented on #24
It renders well on my gmail, do you use any extension for your gmail inbox ?
Can you try with another brother to see if this is chrome specific for you ?

![capture d ecran 2016-02-08 a 14 20 33](https://cloud.githubusercontent.com/assets/570317/12886638/43fca2fc-ce6f-11e5-84ab-a910c54a04a0.png)

[2016-02-08 13:25] iRyusa commented on #21
@michaeldscherr does height is really needed ? I can add it easily I guess, but I think how `width` handles it right now is just fine

[2016-02-08 13:29] iRyusa commented on #19
To go further, why not implement `<mj-font>` and `<mj-style>` what do you think guys ? @arnaudbreton @robink @lohek  @hteumeuleu

[2016-02-08 13:33] iRyusa commented on #26
@kentoo is this ok for you ? Can we close it :)

[2016-02-08 13:41] michaeldscherr commented on #21
@iRyusa yes, since some clients have images off by default. sometimes this will cause the layout to break, or the client not being able to show the appropriate ALT tag.

[2016-02-08 13:45] iRyusa commented on #21
Ok ! I try to add it for 1.0.4

[2016-02-08 14:16] kentoo commented on #26
Yeah, of course! Thanks a lot ;)

[2016-02-08 14:17] #26 closed

[2016-02-08 14:17] iRyusa commented on #22
~Related to #19

[2016-02-08 14:24] philippebarbosa commented on #24
Oh, well asked ! So, just tested :
- on private mode (no extensions)
- Google Chrome Canary (don't have any extensions in it)
- Firefox (don't have any extensions in it)

Still breaking.

I'm investigating right now to see what could break the layout  on my environment…

[2016-02-08 14:25] joaopvilla commented on #20
No problems :) Maybe I have found another documentation error, when I use "vertical-spacing" attribute in mj-divider nothing happens :/ Am I doing something wrong?

<mj-divider border-width="1px" border-style="solid" border-color="lightgrey" vertical-spacing="5px"></mj-divider>

[2016-02-08 14:26] philippebarbosa commented on #24
Example with Firefox :

![Image](http://barbo.sa.com/1bKXD/5BiDkP5v+)

[2016-02-08 14:43] GuillaumeBadi commented on #20
Hey @joaopvilla !

Vertical-spacing is not in the source anymore! Thanks for mentioning it ! It will be removed!

[2016-02-08 14:48] iRyusa commented on #25
I'm sorry @stepanh I don't think i'll have a fix for today.

We have an issue with a dependencies lib called cheerio that rely on htmlparser2. Htmlparser2 is parsing your `mj-raw`'s content as a tag so that's why you get that weird render.

I try to play with htmlparser2 to seed if I can find a quick workaround

[2016-02-08 14:57] iRyusa commented on #24
Mhh, can you open only the mail in a new tab and give me the whole html ? I would like to check the html on your side

[2016-02-08 15:01] iRyusa commented on #20
Note that you can play with `padding-left/right/top/bottom` on every "content" element so you can do as such:

`<mj-divider border-width="1px" border-color="lightgrey" padding-top="5" padding-bottom="5" />`

[2016-02-08 15:03] philippebarbosa commented on #24
Ok, it's here :
https://gist.github.com/philippebarbosa/6dc8414e9c0931fef6e3

[2016-02-08 15:09] peterfox commented on #19
Yes, makes sense to me to have both a head <mj-font> component. Doesn't necessarily have to be a head as a lot of email clients actually ignore head regions all together and only use the body portion of a HTML email.

[2016-02-08 15:17] iRyusa commented on #21
@jaychow99 is this ok for you now ? can we close it ?

[2016-02-08 15:18] robink commented on #19
@iRyusa `mj-head`, `mj-style` and `mj-font` are all making sense to me

[2016-02-08 15:25] iRyusa commented on #24
I'm getting out of ideas, looks like in your environment media queries aren't applied at all. Weird thing is, all your columns have their `aria-labelledby` attributes..

[2016-02-08 15:32] joaopvilla commented on #20
@GuillaumeBadi Thanks! So I think that `vertical-align` is not in the source anymore, right?

@iRyusa I already tryed that, in every single element I had above my divider, and a `padding-bottom: 20px` keeps appearing in the code :/

[2016-02-08 15:35] iRyusa commented on #20
Did you reset section default padding-bottom & top ?

[code]

[2016-02-08 15:55] joaopvilla commented on #20
Oops, my bad, forgot to do that :p thanks again!

I need to solve just another bug/problem before I start using mjml in all email templates here at Startup I work :) see if you can help me. I'm not sure if I did something wrong or if it's a bug, but the mobile e-mail is getting too broken, it exceeds the maximum size of the screen creating a horizontal scroll

<img width="1440" alt="screen shot 20

[2016-02-08 16:09] philippebarbosa commented on #24
Out of ideas too. Next step could be to know if some users are facing the same problem.
I'll send the test mail to fews, asap. I keep in touch with you from that case ;)
Available for further help, if needed. Just tell me.

[2016-02-08 17:02] iRyusa commented on #20
@joaopvilla render looks fine on gmail here's a screenshot of it.

Try it live on mobile may have some issue when applying media query we'll take a look at it

![androidgmailapp-vertical-allowed-1366 2](https://cloud.githubusercontent.com/assets/570317/12892802/2144f11e-ce8e-11e5-9b86-e5ce98aa9848.png)

[2016-02-08 17:05] iRyusa commented on #24
Adding a cannot reproduce label atm, when we have a step te reproduce or identified what can cause that issue I'll take another look at it

[2016-02-08 17:07] iRyusa commented on #20
You may consider to use service as Litmus to check the render on mobile client until we fix it

[2016-02-08 17:35] jaychow99 commented on #21
Yes, please.Many thanks.Jay-----Original Message-----
From: Maxime Brazeilles
Sent: Feb 8, 2016 10:03 AM
To: mjmlio/mjml
Cc: jaychow99
Subject: Re: [mjml] Image does not scale to device width in Mobile View. (#21)

@jaychow99 is this ok for you now ? can we close it ?

—Reply to this email directly or view it on GitHub.

­­­‪­‪­­­­‪­­‪­­­‪‪‪­­­‪‪­­‪­‪‪‪‪­­­­‪­‪­­‪­­‪‪‪­‪‪‪Thanks.

Jay

[2016-02-08 17:42] iRyusa commented on #21
@michaeldscherr height has been added on PR #29 ! thanks for the suggestion

[2016-02-08 17:42] #21 closed

[2016-02-08 17:46] iRyusa commented on #20
If this is ok for you @joaopvilla can we close the issue ?

[2016-02-08 18:22] joaopvilla commented on #24
I'm facing the same problem :/
And isn't just in Gmail:

**Gmail:**
<img width="1440" alt="screen shot 2016-02-08 at 16 18 22" src="https://cloud.githubusercontent.com/assets/17101231/12894811/1c05f9f4-ce80-11e5-952b-b0964b93283a.png">

**Polymail:**
<img width="1440" alt="screen shot 2016-02-08 at 16 18 16" src="https://cloud.githubusercontent.com/assets/17101231/12894812/1c105c78-ce80-11e5-91c5-

[2016-02-08 18:33] joaopvilla commented on #20
But I want 2 columns in mobile too, like this:
![expected](https://cloud.githubusercontent.com/assets/17101231/12895021/92467da4-ce81-11e5-9277-4b3fc517aba6.jpg)

I'm doing something wrong?

And why this margins are completely different?
![margins](https://cloud.githubusercontent.com/assets/17101231/12895042/aeed2020-ce81-11e5-8085-368a10b5687b.jpg)

[2016-02-08 21:09] alexcarruthers opened #30 "Use mjml react components"
I'm using server-side react to render emails and I was wondering if there was an easy way to use the mjml components as standard react components.
Basically, can I do this:
[code]

[2016-02-08 21:49] stepanh commented on #25
Thanks, @iRyusa !

[2016-02-09 09:51] iRyusa commented on #30
Hello @alexcarruthers

Yes it should work, you can import any MjElement with :
[code]

Keep in mind that some fix aren't doable in react so you might need to use something like that : https://github.com/mjmlio/mjml/blob/master/src/mjml2html.js#L51-L6 to include media queries and most of outlook stuff. I'll try to do a release this week to expose them for advanced use of MJML

[2016-02-09 09:57] iRyusa commented on #24
Meh, don't know why media queries aren't applied

@joaopvilla I sent you an email from litmus, do you have the same problem ?

[2016-02-09 10:25] kukac7 opened #31 "supported clients?"
outlook?
gmail?
ios?
etc...

thanks!

[2016-02-09 11:17] iRyusa commented on #31
Hello @kukac7

Yes you're right, it should be added on the Readme !

[2016-02-09 12:56] kukac7 commented on #31
@iRyusa :bow:

[2016-02-09 13:15] damien-couteillou opened #32 "Modify the default width of the email"
Hi I was wondering if there is any solution to modify the default width of the email. Because for now it's 600px wide but I want a 550px wide email.

[2016-02-09 13:24] iRyusa commented on #32
Hi @damien-couteillou,

At the moment, MJML supports only 600px layout. I think we can add an attribute on mj-body, like: `<mj-body width="550px">`

[2016-02-09 13:25] iRyusa commented on #30
Is this ok for you @alexcarruthers can we close ? :)

[2016-02-09 13:28] damien-couteillou commented on #32
Ye

[2016-02-09 13:34] iRyusa commented on #20
MJML doesn't support 2 column responsive yet, `column` is meant to stack on mobile.

In a future we would like to propose some kind of `group` for column to handle responsive as you like.

I think we need to add a `width="100%"` on any columns to center properly the rendered email. Can you open a new issue (and closing this one) with this centering issue with this image ?

[2016-02-09 13:39] lohek opened #33 "BackgroundColor on Column"
Add possibility to add a `background-color` on Column (or MJMLColumnElement ?)

[2016-02-09 13:41] g13nn commented on #33
`bgcolor="#000000"` is also well supported

[2016-02-09 14:00] iRyusa commented on #31
As @lohek mentioned to me, you can find it there: https://mjml.io/faq#email-clients :+1:  if this is ok, you can close the issue :)

[2016-02-09 14:03] #22 closed

[2016-02-09 15:09] iRyusa commented on #24
@joaopvilla or @philippebarbosa can you provide the original mail with this :
<img width="878" alt="capture d ecran 2016-02-09 a 16 07 53" src="https://cloud.githubusercontent.com/assets/570317/12920081/72e909ec-cf47-11e5-97cc-3452d1be91ab.png">

[2016-02-09 15:21] philippebarbosa commented on #24
Link to the gist sent by mail !

[2016-02-09 15:42] damien-couteillou opened #34 "Bulletproof email buttons"
Bulletproof buttons using the same principle as https://buttons.cm/

Because I want :
![capture d ecran 2016-02-09 a 16 43 19](https://cloud.githubusercontent.com/assets/6543024/12921190/4c2636d6-cf4c-11e5-8e9d-8c357efce0bd.png)

But on outlook 2010 I got :
![capture d ecran 2016-02-09 a 16 43 12](https://cloud.githubusercontent.com/assets/6543024/12921207/60954d14-cf4c-11e5-94fd-3f6ee681db77.png)

[2016-02-09 16:44] iRyusa commented on #34
Oh nice !

[2016-02-09 16:51] iRyusa commented on #24
Well from @hteumeuleu 's observations, It might be an issue with google apps account that threat some css differently.

CF here: https://www.emailonacid.com/app/acidtest/display/summary/SP3SHdNanQ52HhvdSNFQQxLbIVBbf35AWhOIjsotKErCp/shared

He's working on a fix, we keep you informed as soon as it's available

[2016-02-09 17:29] philippebarbosa commented on #24
Ok, great. Let me know.
Thanks a lot !!

[2016-02-09 17:43] #30 closed

[2016-02-09 17:43] #31 closed

[2016-02-09 17:43] iRyusa commented on #23
Closing atm, a proper issue with validation concern will be open soon

[2016-02-09 17:43] #23 closed

[2016-02-09 18:18] DylanOpet opened #36 "mjml -r input.mjml = TypeError: undefined is not a function"
DylanMBPr-2:/ dylanet$ mjml -r input.mjml
TypeError: undefined is not a function
    at /usr/local/lib/node_modules/mjml/lib/cli.js:71:23
    at /usr/local/lib/node_modules/mjml/lib/cli.js:43:17
    at /usr/local/lib/node_modules/mjml/lib/cli.js:42:12
    at Object.render (/usr/local/lib/node_modules/mjml/lib/cli.js:85:3)
    at main (/usr/local/lib/node_modules/mjml/lib/mjml:35:28)
    at Object.

[2016-02-09 18:52] iRyusa commented on #36
Hey there @DylanOpet  !

Can you provide your node version and your `input.mjml` ?

[2016-02-09 18:54] DylanOpet commented on #36
Ah, I don't have an input.mjml I thought thats what might have generated one? :-)

npm WARN engine kind-of@3.0.2: **wanted: {"node":">=0.10.0"} (current: {"node":"0.13.0-pre","npm":"2.11.2"})**

[2016-02-09 19:03] iRyusa commented on #36
`mjml -r input.mjml` compiles your `input.mjml` as `output.html`

Closing then if there's no error :)

[2016-02-09 19:03] #36 closed

[2016-02-09 19:07] DylanOpet commented on #36
Okay, I now have my input.mjml that I retrieved from the third template and named it that, now tried to render it as output and get the same error, I'm in the same directory of input.mjml/etc.

DylanMBPr-2:mjml dylant$ mjml -r input.mjml
TypeError: undefined is not a function
    at /usr/local/lib/node_modules/mjml/lib/cli.js:71:23
    at /usr/local/lib/node_modules/mjml/lib/cli.js:43:17
    at /u

[2016-02-09 19:11] iRyusa commented on #36
Can you try to upgrade your node to the latest version ? At least node 4.3.

https://nodejs.org/en/

It might be an issue with your node version

[2016-02-09 19:15] DylanOpet commented on #36
Ahhh, I'm sorry for that! Exactly my issue, truly appreciate the awesome fast support. VERY excited to start playing with this! Kudos!!

[2016-02-09 19:20] iRyusa commented on #36
Let me know if you have any problems ! Thanks :+1:

[2016-02-09 21:42] jsit opened #37 "&nbsp; is replaced with space"
`&nbsp;` entities seem to get stripped and replaced with a space when rendering html.

If I wrap it in `<mj-raw>`, the space disappears entirely.

[2016-02-10 09:48] iRyusa commented on #24
@philippebarbosa @joaopvilla can you confirm that you're both using a google apps **free** account ?

[2016-02-10 09:49] philippebarbosa commented on #24
Not me, i'm using google apps for work.

[2016-02-10 09:53] iRyusa commented on #24
I re-rename the issue then, that's weird can you confirm if it's working on your personal address ?

[2016-02-10 10:00] philippebarbosa commented on #24
Tried on a old free gmail account…it's working ! So weird.

[2016-02-10 10:04] iRyusa commented on #37
Hello there,

I can't reproduce here, can you provide your mjml please ?

mjml:
[code]

output:
[code]

[2016-02-10 11:07] joaopvilla commented on #20
@iRyusa Yes :) I'll open another issue with this topic. Thanks!

[2016-02-10 11:08] joaopvilla opened #38 "Margins completely different"
Why this margins are completely different? (Why content exceeds those margins?)

![aeed2020-ce81-11e5-8085-368a10b5687b](https://cloud.githubusercontent.com/assets/17101231/12945606/c34b6cb6-cfd5-11e5-986f-616e00110014.jpg)

[2016-02-10 11:11] joaopvilla commented on #24
I'm using a paid account, Google Apps for Work :/
And this is happening in Hotmail to:

<img width="1440" alt="screen shot 2016-02-10 at 09 11 02" src="https://cloud.githubusercontent.com/assets/17101231/12945691/47d28bd6-cfd6-11e5-80d3-e6be96a4ad12.png">

[2016-02-10 11:56] joaopvilla commented on #24
@iRyusa here's the e-mail you sent me via Litmus:
<img width="1440" alt="screen shot 2016-02-10 at 09 53 33" src="https://cloud.githubusercontent.com/assets/17101231/12946546/6c420fe0-cfdc-11e5-8c24-764270f4d98e.png">

And the "show original" content:
[code]

[2016-02-10 13:59] #20 closed

[2016-02-10 14:02] iRyusa commented on #24
A fix will be proposed by @hteumeuleu for outlook in few days, they've change to outlooke 365 render engine so mails are shown in mobile version

 Thanks too @joaopvilla  we're still looking for a way to reproduce with our google apps accounts

[2016-02-10 14:35] rgbjay commented on #21
Hi,

Although this issue is now closed, it does not seem to be fixed. I have had trouble with the responsive images in my email staying at their full size in mobile view. I have tested them in litmus and it still happens, I also tested your Kilamanjaro template in litmus and the image is not responsive there either.

Any help on this would be appreciated.

[2016-02-10 14:42] iRyusa commented on #21
@rgbjay Hello, sorry to hear about that but when I put Kilamanjaro in litmus image remain centered and keep full size of column even if I replace with a large ( like 940x150 ) placehold.it image.

Mobile view in the mjml previewer is still bugged, and we're looking to improve it. In Litmus my mail looks fine for me cf https://cloud.githubusercontent.com/assets/570317/12882711/b9351fb6-ce53-11e5-8d

[2016-02-10 14:48] rgbjay commented on #21
Yeah, it's looks fine in the gmail app but on iPhone I am seeing the image as non-responsive
![screen shot 2016-02-10 at 14 47 50](https://cloud.githubusercontent.com/assets/11628707/12950492/5ee5a4be-d005-11e5-953c-7c87dad7e06f.png)

[2016-02-10 14:51] iRyusa commented on #21
Mhh that's more an iOs specific issue, can you open a new issue for that one ?

I'm checking this right now

[2016-02-10 14:54] rgbjay opened #39 "Responsive Image widths not working in iOS devices"
When using the mj-image tag, the responsive sizing isn't working on iOS devices. Example litmus screenshot below:

![screen shot 2016-02-10 at 14 47 50](https://cloud.githubusercontent.com/assets/11628707/12950646/199b32b0-d006-11e5-814c-27228ec3319b.png)

[2016-02-10 14:54] rgbjay commented on #21
Thanks, I've just created the new issue.

[2016-02-10 14:54] iRyusa commented on #39
Ok, it's just a `width: 100%` missing on image I'll check with @hteumeuleu if there's no side effect with it

[2016-02-10 15:16] jsit commented on #37
That very example gives me `Hello   !`. I'm on mjml 1.0.3, installed via
npm on a Mac.

On Wed, Feb 10, 2016 at 5:04 AM, Maxime Brazeilles <notifications@github.com

[2016-02-10 15:50] rgbjay opened #40 "Mobile version displayed in some clients"
In my Litmus testing I found that in:

Polymail
Outlook Web App

The columns that were meant to be 50% width were stacking as 100% columns.

[2016-02-10 15:52] rgbjay opened #41 "Ability to define how column behave in mobile"
It would be cool to be able to assign different widths for elements for different breakpoints.

For example if I have three columns on desktop but I want them to be three 1 columns on mobile.

Maybe with m-width and t-width attributes that compile to media queries?

[2016-02-10 15:55] arnaudbreton commented on #14
Hi @TheSisb, we would really love to understand how Radium could make the MJML engine better.
Thanks a lot for your feedback!

[2016-02-10 16:33] iRyusa commented on #41
I may suggest a different approach here, in my opinion in a future we should be able to do this kind of thing:

[code]

That should render as 2 per 2 on mobile and 4 * 25% column

[2016-02-10 16:35] rgbjay commented on #41
Yeah that would work. The ability to have that option, however it is achieved, would be great

[2016-02-10 16:37] iRyusa commented on #37
In your example you're nesting a `mj-raw` inside a `mj-text` that's forbidden you can nest any standard html tag in `mj-text` but no mjml component.

Can you provide me your full mjml document, and if you use with the cli or in a js file ?

[2016-02-10 16:57] jsit commented on #37
Full mjml document is identical to your example above:

[code]

Output:

[code]

I'm using the cli, both -w and -r produce this output.

[2016-02-10 17:06] iRyusa commented on #37
Ok the issue is related to the client i'm able to reproduce thanks for details !

[2016-02-10 18:55] TheSisb commented on #14
Sorry for the delayed response.  I see that rather than using inline-styles, you use attributes to the same effect.  What you're doing is somewhat similar yet much more basic than what Radium provides.

For a very simple case, you can take a look at this template: https://mjml.io/try-it-live/mama-mia. There are three repetitions of `color="#EEE" font-family="roboto" align="center"`.

If we were us

[2016-02-11 05:15] romainyakarouler opened #42 "Handlebars tag support (used by mandrill)"
Hello,

Mandrill and Mailchimp support Handlebars template syntax, could we imagine a command like ```mjml -r template.mjml -o template.html --syntax=handlebars``` or ```mjml -r template.mjml -o template.html --syntax=mailchimp``` ?

Example:

![replacement_html_ __users_romainnorberg_documents_jobs_web_calendrier_fonctionnel_web_template_mail](https://cloud.githubusercontent.com/assets/5825498/12

[2016-02-11 08:50] GuillaumeBadi commented on #42
That's a point, but allowing multiple template languages would be heavy right? Maybe we could implement a preprocessor in another repo like `mjml-hbs`

[2016-02-11 15:00] laurent-bientz opened #43 "Watch changes crash"
Hello,

The --watch option seems to crash after some saves on my mjml file.

`> mjml --watch test.mjml --output test.html`

produces:

    at new MJMLError (C:\[...]\AppData\Roaming\npm\node_modules\mjml\lib\Error.js:24:85)
    at Object.mjmlElementParser (C:\[...]\AppData\Roaming\npm\node_modules\mjml\lib\documentParser.js:24:13)
    at documentParser (C:\[...]\AppData\Roaming\npm\node_modules\mj

[2016-02-11 15:03] Gilbert09 opened #44 "Missing padding attribute on Section element"
The section element has `padding-left`, `padding-right` etc but no `padding` which makes it slightly annoying having to set the padding on all 4 sides.

[2016-02-11 15:26] laurent-bientz opened #45 "<mj-divider> margin problems"
Hi guyz,

I got a problem with `<mj-divider>`.

I want a separator (_a kind of border in fact_) **with no spaces or margin around**.

Even if I set a margin & padding at 0px on `<mj-divider>` and on `<mj-section>`, the generated HTML code is wrapped inside a `<p>` with 13px margin: 13px 0;

__What i do:__
[code]

__What I expected:__

![wanted](https://cloud.githubusercontent.com/assets/6093572/12

[2016-02-11 15:46] iRyusa commented on #45
Hey there,

Sorry, it's fixed in PR #27 and hasn't release yet. 1.0.4 will be push really soon.

As it's current state, MJML doesn't provide yet a way to reset fully the css. It will come in a near future

[2016-02-11 15:59] laurent-bientz opened #46 "<mj-column> padding problems"
Hi,

I can't set a padding on `<mj-column>`

If i got 3 columns of 33%, the only way to put a padding between columns is to apply this padding on each children of this column.

**What I do (trying to apply a padding on whole col):**
[code]

**What I get with padding on `<mj-column>`:**

![padding-col](https://cloud.githubusercontent.com/assets/6093572/12980925/d5896040-d0de-11e5-804e-ca5fd8b29d94.

[2016-02-11 16:08] drazik commented on #45
Hello @iRyusa ,

Do you already have plans for a reset, or we can propose a PR with our own interpretations ?

Thanks.

[2016-02-11 17:01] iRyusa commented on #45
@drazik feel free to contribute :+1:  ! I'll have to see if I can give it a shot next week

[2016-02-11 17:43] GuillaumeBadi commented on #43
Hey @laurent-bientz !

This should be solved by the last release. Can you make sure it works on your side?

Regards,
Guillaume

[2016-02-11 17:44] GuillaumeBadi commented on #43
Hey @laurent-bientz !

This is probably when you save the file with an empty body, I will try to make the error appear without crashing for the next release tomorrow!

Regards,
Guillaume

[2016-02-11 17:45] GuillaumeBadi commented on #37
Hey @jsit !

This should be solved by the last release! :)

Can you make sure it works on your side, and if so, close the issue ?

Regards,
Guillaume

[2016-02-11 22:40] lemieuxs opened #48 "Custom components"
Hi,

I am building up a newsletter frame, but I am having some issues with the custom components.

I want to create a simple title component to start with. But it doesn't seem to work.

I execute
`
mjml --init-component title
`
This creates a .js file name Title. Until this point everything works as expected.

From this point if I put a `<mj-title>` component in my template I expect it to be valid

[2016-02-12 02:02] BrettJay opened #49 "Style/font defaults"
Really liking the look of mjml so far.

One immediate question I have though is, with the most basic MJML template I can make, there's certain styles cascading which I haven't specified, such as the font stack for components seeming being set to Ubuntu first.

I may be missing something fundamental — is there a way to reset certain stylistic aspects common to the whole mjml file, so I don't have t

[2016-02-12 03:07] patrickfweston commented on #43
@GuillaumeBadi : I believe you're correct about it being empty tags. I can confirm that using `--watch` with the following causes an error:

[code]

However, adding text to the _mj-text_ element fixes the problem and an error is not thrown. The error I'm receiving is different though:

[code]

[2016-02-12 04:49] patrickfweston commented on #49
I'm running into the same problem @BrettJay . There doesn't look to be support for that yet. The defaults are set in the different components' files: https://github.com/mjmlio/mjml/blob/master/src/components/Text.js#L12

I'm going to dig in the source for this some more (I just started using it a few hours ago) to see if there isn't some way to extend the default and override the values. It'd be n

[2016-02-12 10:36] arnaudbreton commented on #14
Hi @TheSisb,

I see, sounds very interesting approach, thanks for taking the time to explaining more in details what you had in mind. For now, we're focused on improving the rendering process, the components interface, etc but will definitely consider that improvement for a future release.

Meanwhile, we would be more than happy to review a contribution from you and integrate it back in the projec

[2016-02-12 11:12] arnaudbreton commented on #42
Hi @romainyakarouler,

In my opinion, the role of MJML is to render a responsive HTML email layout. That said, for your use-case, I would recommend to wrap all the handlebars templating tags with an [`mj-raw` tag](https://mjml.io/documentation/#mj-raw) so the engine keep them when rendering the MJML.

Once you have the HTML code, you can pass it to handlebar, with the right execution context so it

[2016-02-12 11:27] #39 closed

[2016-02-12 11:33] iRyusa commented on #32
Added in 1.1.0

[2016-02-12 11:33] #32 closed

[2016-02-12 11:33] iRyusa commented on #33
Added in 1.1.0

[2016-02-12 11:33] #33 closed

[2016-02-12 11:34] iRyusa commented on #39
It should be ok now with width 100% on `1.1.0`

[2016-02-12 11:37] damien-couteillou commented on #32
Thx guys ! Good job on the reactivity !

[2016-02-12 11:47] iRyusa commented on #45
Fix in 1.0.4 and 1.1.0 @laurent-bientz :+1:

[2016-02-12 11:47] #45 closed

[2016-02-12 11:55] #37 closed

[2016-02-12 11:56] arnaudbreton commented on #37
@jsit closing the issue for now, please confirm it works for you, or re-open if still experiencing the issue. Thanks!

[2016-02-12 12:12] arnaudbreton commented on #49
Hi here,

Thanks much for opening the discussion. Sounds a bit similar to #14, right?

Joining your idea of a config file. We're thinking is to implement a pre-processing phase where we would read styles defined globally (in a `mj-style` tag for instance) and inline them on the elements where they should apply.

A short example is more illustrating our idea here:
[code]

would result in

[code]

T

[2016-02-12 12:23] arnaudbreton commented on #46
Hi @laurent-bientz,

There is actually a typo in our documentation, since `padding` attribute is not supported on column. We will remove it there for now and work on implementing it for real this time (not straightforward to do).

You're right about the padding on the `mj-text` component, you can see the definition in the latest released version [here](https://github.com/mjmlio/mjml/blob/master/sr

[2016-02-12 12:45] arnaudbreton commented on #40
Hi @rgbjay, thanks for reaching out!

About the first 4 clients, we'll run some test to understand better what's going on here.

About Google Apps, please refer to #24. It seems that there is some versions of it out here which render things in a wrong way. So far we haven't managed to reproduce it on our own Google Apps (or Gmail) accounts but still looking for new cases, if you could add details

[2016-02-12 13:45] laurent-bientz commented on #43
Hello and thank u for your feedback.

I can't test today but to reproduce the glitch, just put some spaces in your file.

For me, it's crashed and no memories about an empty `<mj-body>` or `<mj-text>`.

Btw, i can remember that empty `<mj-text>` also crashed with basic command line (`mjml -r test.mjml --output test.html`), so I don't think it's linked to the same pb, maybe i'm wrong.

I'll check n

[2016-02-12 13:49] laurent-bientz commented on #46
Hi @arnaudbreton,

Thank you for the feedback. This solution is working (already what I did).

We'll stay tuned for the next releases, I think that a kind of css reset will be appreciated in our company ;)

Cheers

[2016-02-12 13:50] laurent-bientz commented on #45
Thank you @iRyusa !

[2016-02-12 14:18] jsit commented on #37
Looks good to me. Thanks!

On Fri, Feb 12, 2016 at 6:56 AM, Arnaud BRETON <notifications@github.com>
wrote:

[2016-02-12 14:28] patrickfweston commented on #49
@arnaudbreton : It's quite similar to #14 . I haven't used Radium in the past, but I'll definitely look into it. I like the idea of an <mj-head> section as it'd contain everything in one file. I know that Foundation for email has a [CSS inliner](http://foundation.zurb.com/emails/inliner.html) which does something similar to this. However, the styles in this instance are applied to the mjml element

[2016-02-12 15:26] asha23 opened #50 "Compilation issue"
I am getting this error. Something to do with React.

Warning: React.renderToStaticMarkup is deprecated. Please use ReactDOMServer.renderToStaticMarkup from require('react-dom/server') instead.
Invariant Violation: renderToStaticMarkup(): You must pass a valid ReactElement.
    at invariant (/usr/local/lib/node_modules/mjml/node_modules/fbjs/lib/invariant.js:39:15)
    at Object.renderToStaticMark

[2016-02-12 15:35] #50 closed

[2016-02-12 15:40] iRyusa commented on #50
Hi @asha23 !

This can happen with an empty tag like `mj-text` it will be fix in `1.1.1`

Thanks for reporting !

[2016-02-12 15:47] asha23 commented on #50
Thanks for your reply... I actually re-cloned it all from here and it appears to be working correctly now :)

Nice work, this. By the way... I'll be following it with great interest.

[2016-02-12 15:59] arnaudbreton commented on #50
@asha23 thanks for following up. Glad it works now! Please close the issue if nothing more is needed from your side :)

[2016-02-12 16:20] arnaudbreton commented on #46
Great, may we close this issue and follow up once we improved that part in a future releas?

[2016-02-12 16:29] laurent-bientz commented on #46
Ofc sry.

[2016-02-12 16:29] #46 closed

[2016-02-12 16:42] arnaudbreton commented on #38
Hi @joaopvilla, we need to dig deeper into that to understand what's wrong here. Keep you posted!

[2016-02-12 16:53] GuillaumeBadi commented on #48
Hey @lemieuxs !

At the moment, you will have to use a JS script in order to achieve that.

Your script will need to `import` all your components
[code]

[2016-02-12 19:37] jsit commented on #41
What about something like this:

[code]

Which would mean that below 480px, the columns would wrap into a single "column"?

@iRyusa's example could then just be:

[code]

Other suggestions for the `wrap` attribute: `wrap-at`, `wrap-under`, `single-col`, `break`, `1col`...

Maybe `wrap="mobile"` could re-use a more globally-defined mobile breakpoint.

[2016-02-12 19:54] jsit commented on #19
How would `<mj-font>` work? What's inside that element?

[2016-02-12 20:05] Miserlou opened #52 "Examples aren't responsive"
Is this rendering correctly?

<img width="1375" alt="screen shot 2016-02-12 at 9 04 19 pm" src="https://cloud.githubusercontent.com/assets/139987/13018830/3c72d262-d1cc-11e5-9796-e2607b414854.png">

[2016-02-12 22:44] lookfirst opened #53 "Intellij tooling support"
Filed: https://youtrack.jetbrains.com/issue/IDEA-151641

[2016-02-14 08:13] fabien commented on #42
Would it be necessary to wrap those handlebar tags in `mj-raw` to even keep them in the final output? I would expect those to be treated as verbatim text, but perhaps this is not possible as you say? What about non `mj` tags like `<h1>`, do we need to wrap them as well? Ideally, allowing some basic tags would make sense.

[2016-02-14 08:17] fabien opened #54 "Table/grid component"
I've seen this being mentioned on Hacker News, but I'm wondering when it will be ready ;-) I'm about to layout some templates that need this functionality. Thanks!

[2016-02-14 08:23] fabien opened #55 "Add height attribute to mj-button"
In order to make perfect pill-shaped buttons, the height should be either explicit, or the border-radius shoud allow % units.

[2016-02-14 08:44] fabien opened #56 "Allow self hosted social icons"
Although it might not be your intention, any email sent out will 'phone home' to one of your servers. Please allow a `base-url` attribute for `mj-social` tags and include the icons in this repo.

[2016-02-15 00:02] peterfox commented on #19
The main concept would be you could provide URLs to import a font easily. But there might be a wider discussion of what else might be needed to be altered to a head element?

[2016-02-15 04:51] caseymhunt commented on #24
I am encountering a situation where Gmail (Apps, Chrome, Desktop) is not obeying any columns, explicit or calculated automatically by MJML. Every column is 100% width regardless.

Happy to attach whatever code you need here, to help isolate.

[2016-02-15 12:13] arnaudbreton commented on #53
Hey @lookfirst, thanks or opening that request at IntelliJ, hope we'll land there soon!
Any idea on how could we help to push this request there?

[2016-02-15 12:13] arnaudbreton commented on #56
Hey @fabien, you're right, we should allow for such behaviour. We'll make sure we allow for it in a future release! Thanks for sharing.

[2016-02-15 12:18] arnaudbreton commented on #54
Hey @fabien, could you help us better understand what kind of layout you're trying to achieve?

For instance, looking at our basic layout, featured in the documentation [here](https://mjml.io/documentation/#2-columns-section), what are you missing?

Sorry if I've missed something obvious here.
Hope we'll be sort it out shortly!

[2016-02-15 12:19] arnaudbreton commented on #55
@fabien thanks for sharing! We'll look into it for a future release.
Meanwhile, we would love to review a contribution from you :)!

[2016-02-15 12:24] arnaudbreton commented on #42
@fabien, yes, for now it is a known limitation of our engine. Because of the way we parse the DOM, we need a tag to wrap even basic text/HTML element/tags. This is actually the main reason why we needed to introduce such tag. That said, this is obviously something we're aiming to improve in a near future.

Keep you posted on our progress here!

[2016-02-15 12:31] ngarnier commented on #52
Hey @Miserlou,

I just tried the Kili template and could not reproduce that bug on any browser (including Firefox). Would you mind trying again and let me know if it's still there on your side?

![](http://puu.sh/n8KaB/99d9b9b48e.png)

Cheers

[2016-02-15 12:40] Miserlou commented on #52
No longer borked. Can't explain the error.

Closing.

[2016-02-15 12:40] #52 closed

[2016-02-15 12:41] arnaudbreton commented on #52
@Miserlou glad it's solved now! Happy MJML-ing!

[2016-02-15 13:42] fabien commented on #54
@arnaudbreton I believe a table component was in the works already (I think you said so on HN) - I need something like `<table>` without having it to wrap in `mj-raw` tags, and perhaps with some enhancements.

[2016-02-15 14:24] Chrisedmo commented on #49
Yeah I'd like to know how we can change the ubuntu font, and use our own google hosted font? Like Lato etc? Be good if you could override like:

    @default({
        font: 'Lato'
        font-src: 'http://url.com/etc/'

[2016-02-15 14:26] Chrisedmo commented on #19
Maybe even some kind of default override would be good? Like this: https://github.com/mjmlio/mjml/issues/49#issuecomment-184227380

[2016-02-15 14:44] lemieuxs commented on #48
Good thanks.

[2016-02-15 14:44] #48 closed

[2016-02-16 10:08] MichalCerny opened #59 "Background position"
Default in section is set to "top center" why is not working with background-position="X Y" ? Like that.

`background: 'url(${mjAttribute('background-url')}) ${mjAttribute('background-position')} / ${mjAttribute('background-size') || ''} ${mjAttribute('background-repeat') || ''}'
`

[2016-02-16 10:15] iRyusa commented on #59
Hi @MichalCerny ,
Most of client doesn't support `background-xxx` attributes, so we're merging them into  `background` who's almost supported everywhere ( outlook 20XX supports only VML ).

[2016-02-16 10:16] iRyusa commented on #56
Hi @fabien

We're working to improve `mj-social` this week, I'll add an `base-url` attributes !

[2016-02-16 10:24] klombomb opened #60 "Node JS Error"
[code]
When attempting to compile my .mjml file Node throws this error. Any idea why this could be happening?

Great tool btw :smile:

[2016-02-16 10:43] MichalCerny commented on #59
I know, I dont want support of position in build, I need to setup position in merged background because default is top center .. i need center right or center left.

[2016-02-16 10:48] iRyusa commented on #59
Oh... My bad.
If I remember correctly it's because we doesn't find a way to support it on outlook so it's by default top center you're right..
I guess we can add it, but add a warning in the documentation

[2016-02-16 11:09] #60 closed

[2016-02-16 11:45] epayet opened #61 "Error with generated custom component with ES6 import + decoractors"
When using the template generated by the command `mjml --init-component product`, it generates this:

[code]

...

[code]

When I do `babel-node Product.js`, I have this error:

[code]

The only way I got it to work was to change

[code]

to this

[code]

I believe this has something to do with the babel decorator plugin and es6 imports, I tried with `transform-decorators-legacy` and `transform-de

[2016-02-16 11:55] MichalCerny commented on #59
And what about background color together with image?

[2016-02-16 11:58] epayet opened #62 "Error with generated custom component when rendering MJMLElements"
I am using the template generated by `mjml --init-component product`. When I try to render a MJMLElement (default generated render method), I have an error. Here is the render method:

[code]

The error is when running the command `DEBUG="mjml-engine/mjml2html" babel-node app.js`

[code]

Here is my app.js:

[code]

However, when I render simple html like this:

[code]

It is working fine. I canno

[2016-02-16 14:19] jsit commented on #41
Or would it make more sense to have this as an attribute of the `<mj-column>` elements? E.g.:

[code]

[2016-02-16 14:45] iRyusa commented on #41
I'm not a big fan of `mj-div`, name is too generic. It will mislead on what the component wants to achieve.

But I like the idea behind it, I'm still not sure how we can implement it yet

[2016-02-16 17:06] arnaudbreton commented on #42
Hey @romainyakarouler, did my comment help you moving forward on your issue? Thanks!

[2016-02-16 17:19] arnaudbreton commented on #54
@fabien do you have an example of what we're trying to achieve? As I told you, this is a known limitation of the engine in its current design to require a `mj-raw` to wrap HTML elements.

Do you have an example - visual or not - of what you're trying to achieve here? Depending on that, defining a custom component might be the way to go.

[2016-02-17 09:25] arnaudbreton commented on #61
Hi @epayet, thanks for reporting. We'll look into it and come back to you with a solution.

Thanks for your patience!

[2016-02-17 09:26] arnaudbreton commented on #62
Hi @epayet, thanks for reporting. We'll look into it and come back to you with a solution.

Thanks for your patience!

[2016-02-17 10:25] iRyusa commented on #62
Hi @epayet ,

If `mj-product` is empty,  `content` is empty so the engine crash. I'll try to fix it today

[2016-02-17 11:43] klombomb commented on #49
Great Idea! Any chance this will make it to a release anytime soon?

[2016-02-17 19:01] CourtFantinato commented on #24
I am experiencing the same issue in Gmail for Business, where columns are displaying stacked at 100% width. However, it's fine in my personal Gmail account.

Gmail strips Classes and IDs from the HTML, but does support styles in the `<head>`. So you can get the columns to work with using other attributes like `lang` or `aria-labelledby`. However, Gmail for Business (as well as the Gmail mobile app

[2016-02-17 22:04] paOol opened #66 "<a> link?"
I looked through the documentation and could not find a component for a link.

would you just put it inside the <mj-text> component?

would it be RAW?

I basically want a simple
[code]

[2016-02-17 22:11] iRyusa commented on #66
Hello @paOol
You can wrap any tags in `<mj-text>` documentation isn't really crystal clear about it

[2016-02-18 08:32] Tlapi opened #67 "Current social component should be renamed"
Hi,

IMO current "social component" servers for sharing, therefore it should be renamed to "social share".

Then there should be new "social follow" component with links to channels like Twitter, Youtube, Website, Pinterest, Instagram, etc....

Would be happy to contribute with "social follow" component.

[2016-02-18 09:52] Tlapi opened #68 "Add possibility to set order of social links in social component"
Would be fine if we will have possibility to set order of links. By now, all links are rendered in default order.

Maybe something like order parameter?

`<mj-social
      order="google|facebook|pinterest" />`

[2016-02-18 09:59] simongareste opened #69 "button font"
Would be nice to allow font-family in <mj-button>, as otherwise we cannot have the same font on all the document

[2016-02-18 10:03] simongareste opened #70 "Update the website's documentation when releasing"
New features added in 1.1 are not visible on the website's documentation (namely, mj-column's background-color, certainly others)

[2016-02-18 10:09] simongareste opened #71 "Provide defaults values on the website's documentation"
For font sizes, paddings and such of standard components, add a column default that give the default value of the attribute

[2016-02-18 10:09] iRyusa commented on #38
After some test @joaopvilla , we conclude that gmail has some built in margin of 15px and we cannot do anything about it.

Here's an example of your email with some background-color to understand what happens thanks to @hteumeuleu : https://www.emailonacid.com/app/acidtest/display/summary/5tNETiRyIorGzAnFR814fVqH4LEUtsjCQus6YyyduCAVO/shared

I am closing this one because it's a email design issue.

[2016-02-18 10:09] #38 closed

[2016-02-18 10:16] Tlapi commented on #38
@iRyusa Can you please provide email source code so we can test it as well?

[2016-02-18 10:21] iRyusa commented on #38
You can find the related MJML in #20 @Tlapi

[2016-02-18 10:47] iRyusa commented on #68
Hi @Tlapi !

Loving the idea, instead of `<mj-social facebook="true" twitter="true />` it could be `<mj-social display="facebook google twitter" />` What do you think about it?

I am working on `mj-social` atm see PR #65 and I think i'll bring this in `1.2`

[2016-02-18 10:52] Tlapi commented on #68
Cool, much better that way!

That will also resolve the other issue i had with declaring what platforms to display as this was not convenient.

Thanks.

[2016-02-18 10:57] Tlapi commented on #20
Ok, so what i see here:

`<mj-column width="500">`

Gets rendered as:

`<div style="vertical-align:top;display:inline-block;font-size:13px;text-align:left;width:100%;min-width:500px;" class="mj-column-px-500" aria-labelledby="mj-column-px-500"></div>`

With CSS in header:

` @media only screen and (min-width:480px) {
.mj-column-px-500, * [aria-labelledby="mj-column-px-500"] { width:500px!important

[2016-02-18 12:05] iRyusa commented on #20
There's some limitation on how we can properly display mobile email in an iframe right now. Problem isn't the media query, it's the min-width that is applied and shouldn't on mobile.

When you set no unit, default is px and yes this is intent because we have to support pixel perfect layout and pourcentage based.

[2016-02-18 12:15] Tlapi commented on #20
@iRyusa Yes, you are right.

Problem is with min-width on the column, not with iframe. I think there is no reason for min-width on the column. So right now, when you set pixel width for a column, this column is not responsive.

[2016-02-18 14:48] acutedeveloper commented on #71
I second this. I was also thinking a nice feature would be to have config file that allows you to set these values.

[2016-02-18 14:51] acutedeveloper opened #72 "A config file"
I was thinking a nice feature would be to have config file that allows you to set the default values you need. So padding, fonts, width and so on

[2016-02-18 16:57] ryanstout001 opened #73 "Outlook.com render issue"
Link to testing preview https://www.emailonacid.com/app/acidtest/display/summary/GToyMDR6XGPds9vOte2LXVSInGn1f3Vgfux7DUO7xviAA/shared

First, thank you for creating this. I build emails and double click banners all day and always looking to increase my bandwidth. I would love to implement MJML  but need to be clean in all email clients for our QC process. So I just wanted to share this display che

[2016-02-18 17:06] iRyusa commented on #73
Hey there @ryanstout001 and thanks !

It's because your button `href` is empty. If you set http://mjml.io on both `button` it will render almost ok.

Currently, outlook.com display a mobile version of the email because of a recent update. I have to see with @hteumeuleu how we can fix it.

[2016-02-18 17:45] #42 closed

[2016-02-18 17:47] arnaudbreton commented on #72
Hey @acutedeveloper we're working on defining the best solution here and include it in a future release. I'm closing here since it is a duplicate of #49. Let's push the discussion there, thanks!

[2016-02-18 17:47] #72 closed

[2016-02-18 17:50] arnaudbreton commented on #67
Hey @Tlapi, get your point. Something we can easily do for a future release, even if we have to be careful since it is not backward compatible as it.

For social follow, that's a great idea, more than happy to review your contribution here!

[2016-02-18 17:51] arnaudbreton commented on #54
@fabien would love to review what you're trying to achieve here! Thanks

[2016-02-18 19:07] paOol opened #75 "change align based on media query?"
I have some ```<mj-text>``` that should be align="left" on desktop, but I'd like it to be align="center" when it's the mobile view.

is this currently possible?

[2016-02-18 20:57] ryanstout001 commented on #73
Thanks @iRyusa , that did the trick sorta. In regards to the mobile display issue. I haven't tested it but heard in the past that in Outlook.com you have to change They changed:

@media only screen and (max-width: 480px) to: @media handheld, only screen and (max-device-width: 480px)

[2016-02-19 09:40] acutedeveloper commented on #73
I was going to raise a similar issue. I had performed a test in emailonacid using the demo code. Further testing now has me questioning the outlook.com rendering in EOA.

What I have done is send the test directly to my personal outlook.com account and everything renders as expected.

**EOA test:**
[https://www.emailonacid.com/app/acidtest/display/summary/ALzLk4CgEvPmuNrJ5I4jPrJiXwBHQWDX8PaxxJ25xM

[2016-02-19 09:47] Tlapi commented on #73
@acutedeveloper And this will get a little bit more complicated: https://blogs.office.com/2016/02/17/outlook-com-out-of-preview-and-better-than-ever/

[2016-02-19 09:59] iRyusa commented on #68
Now in `1.2.0` !

[2016-02-19 09:59] #68 closed

[2016-02-19 10:00] iRyusa commented on #56
Now added `base-url` in `1.2.0` ! Documentation should be updated today

[2016-02-19 10:00] #56 closed

[2016-02-19 10:00] iRyusa commented on #44
Now added in `1.2.0`, documentation should be updated today

[2016-02-19 10:00] #44 closed

[2016-02-19 10:02] iRyusa commented on #43
Empty `mj-text` is now fixed ! Please reopen if you're still having the issue with `1.2.0`

[2016-02-19 10:02] #43 closed

[2016-02-19 10:05] iRyusa commented on #70
We'll update the doc today with 1.1 & 1.2 changes, sorry for delay.

[2016-02-19 10:06] iRyusa commented on #75
Hello @paOol

I'm afraid that we can't with current MJML version. Do you have any idea on how to implement that feature ?

[2016-02-19 10:11] GuillaumeBadi commented on #43
Plus the client won't crash anymore and simply log the error message if any :smile:

[2016-02-19 10:17] iRyusa commented on #43
:+1:

[2016-02-19 14:23] #70 closed

[2016-02-19 15:16] epayet commented on #62
Hi,

Sorry to reopen this issue but the bug isn't resolved even with the version 1.2.0
I made a small repo with the reproduction of this bug: https://github.com/epayet/mjml-bug-component

I cannot see why it is still happening. Could you look into it?
I am happy to help. Thanks

[2016-02-19 15:58] ryanjohnsonnc opened #76 "ReferenceError: Promise is not defined"
I am continually getting this error while I am trying to invoke mjml on a document

[2016-02-19 16:08] GuillaumeBadi commented on #76
Hey @ryanjohnsonnc !

What version of node are you using ?

[2016-02-19 16:09] ryanjohnsonnc commented on #76
v0.10.31

[2016-02-19 16:12] GuillaumeBadi commented on #76
Yep Promises are not compatible with your version of node, I encourage you to update it to the [latest stable release](https://nodejs.org/en/) (or above)

[2016-02-19 16:26] ryanjohnsonnc commented on #76
I've done that. Still the same error.

[2016-02-19 16:32] GuillaumeBadi commented on #76
I can't reproduce your error, can you show me your code and the output of `node -v` so I can try it on my side ?

[2016-02-19 17:06] formermember commented on #76
I had the same issue, I had to uninstall nodejs and npm completely and reinstall the latest version using the installer from the node website.

[2016-02-19 19:36] Faleij commented on #34
Made a custom component for bulletproof buttons: [mj-bbutton](https://github.com/Faleij/mj-bbutton)
It's a bit hackishly implemented as it barely uses react because of mso-if statements.

[2016-02-19 19:44] paOol commented on #75
I don't, but I do have an idea of how it should work and that might help you come up with a solution.

it should work like so

[code]

or

if you look at https://github.com/contra/react-responsive and follow the same idea,

[code]

although that is highly repetitive.

[2016-02-19 20:07] ryanjohnsonnc commented on #76
I did what @formermember said. It seemed to get me a little further along in the process.

Now the error I get when attempting to run mjml -r index.mml is:

TypeError: Cannot read property 'map' of undefined
    at Social.renderHorizontal (/usr/local/Cellar/nvm/0.15.0/v4.3.1/lib/node_modules/mjml/lib/components/Social.js:192:53)
    at Social.render (/usr/local/Cellar/nvm/0.15.0/v4.3.1/lib/node_mo

[2016-02-19 20:10] iRyusa commented on #76
Yes It's because of the `1.2`, `mj-social` use a new syntax `<mj-social display="twitter facebook" />` and you'll be fine

[2016-02-22 02:54] quangbuule opened #77 "Cannot set divider's width"
I see the width property but it is not used yet:
https://github.com/mjmlio/mjml/blob/master/src/components/Divider.js#L17

[2016-02-22 09:46] iRyusa commented on #77
Hi @quangbuule ,
I need to test how width is applied on outlook & gmail, but I'm working to bring `width` back on `divider` thanks to report it!

[2016-02-22 10:38] arnaudbreton opened #78 "Add an mjml root tag to separate the content and the meta definition"
Based on coming new features we want to add in MJML (#79, #80, #81), it would make things clearer to define an `mjml` root tag, along with an `mj-head` tag in order to separate the content, currently defined in `mj-body` and meta definition.  This issue represents an implementation we think will cover this case nicely. The idea here is to discuss openly here and to settle on a final implementation

[2016-02-22 10:39] arnaudbreton opened #79 "Allow for global mj tags definition"
Following feature request like #49 or #14, it's clear that MJML needs to provide a way to define mj tags attributes once, for all. This issue represents an implementation we think will cover this case nicely. The idea here is to discuss openly here and to settle on a final implementation by the end of the week.

To achieve that, we plan to add a new tag `mj-attribute`, which would contain a JSON e

[2016-02-22 10:46] arnaudbreton opened #80 "Enable to load custom fonts"
Following up on issues #49 and #19, we want to provide MJML users with a way to define and use custom fonts in their MJML markup. The idea here is to discuss openly here and to settle on a final implementation by the end of the week.

A new `mj-font` tag is introduced, allowing to render a cross-clients valid HTML code to load custom fonts. The new tag markup could be the following:
[code]

In ord

[2016-02-22 11:00] arnaudbreton opened #81 "Allow for global CSS styling"
Following up on issues #19, we want to provide MJML users with a way to add regular CSS styles in their MJML document. The idea here is to discuss openly here and to settle on a final implementation by the end of the week.

A new tag named `mj-style` is introduced to contain global CSS styles:
[code]

The MJML rendering engine will make the best effort at the end of the rendering process to inline

[2016-02-22 11:02] arnaudbreton commented on #49
Hi everyone,

I'm closing this issue since we came up with implementations to be discussed for the cases described here:
- #79 for global attribute definition
- #80 to use custom fonts

Let's move the discussions there!
Thanks for your contribution to MJML, highly appreciated!

[2016-02-22 11:02] #49 closed

[2016-02-22 12:23] arnaudbreton opened #82 "Allow for meta definition in the HTML head"
Following up on issue #19, we want to provide MJML users with a way to define meta information in the HTML `head` section. The idea here is to discuss openly here and to settle on a final implementation by the end of the week.

In the new `mj-head` tag introduced (see #78), the behaviour of `mj-raw` tags will be to output its content in the final rendered HTML. No validation is done here by the MJ

[2016-02-22 12:24] arnaudbreton commented on #19
Hi everyone,

I've described in better details what we could do for fonts (#80), global CSS styling (#81) and head level definition (#82). Closing this issue now. Let's move each discussion in the now dedicated thread.

Thanks everyone for your input to come up with a clean solution!

[2016-02-22 12:24] #19 closed

[2016-02-22 12:25] arnaudbreton commented on #54
@fabien closing this conversation for now. Feel free to re-open once you have more time to share your work with us. Thanks!

[2016-02-22 12:25] #54 closed

[2016-02-22 12:27] arnaudbreton commented on #14
Hey @TheSisb, we described with more details in #79 how we would like to handle this feature. Let's move the discussion there.

Thanks again for your contribution to MJML.

[2016-02-22 12:27] #14 closed

[2016-02-22 13:14] iRyusa commented on #76
@ryanjohnsonnc can you try it with `1.2.1` ? Thanks !

[2016-02-22 14:09] epayet opened #83 "Reopen issue #62"
Hi,

Could you reopen the issue [62](https://github.com/mjmlio/mjml/issues/62) as I still have the error with the last version?
Checkout my last comment on it, I made a small repo to reproduce the bug.

Many thanks.

[2016-02-22 14:10] iRyusa commented on #83
i'll take a look at it

[2016-02-22 14:10] #83 closed

[2016-02-22 18:28] TheSisb commented on #79
I really like what you've described here.  My only question is why you've decided to go your own route rather than use Radium?  This is purely out of curiosity at this point.

I predict you will encounter some initial limitations, such as inability to add `:hover`, `:focus` or `:active` although I'm not too sure how useful those are for emails.  Also how will we be able to create or modify media q

[2016-02-22 21:30] simonwoodhead opened #84 "Google link in social component"
Setting google="false" does not remove the google link in the social component.

[2016-02-22 22:16] sconno05 opened #85 "Can I pass props or a payload?"
Is it possible to pass a payload or props to my mjml?

`<mj-text color="#EEE" font-size="18px">{orderCount} orders processed today</mj-text>`

paired with something like:

`var htmlOutput = mjml.mjml2html(mjml, {orderCount: 20});`

I have not seen anything in the docs where I can do this.

[2016-02-23 08:58] GuillaumeBadi commented on #85
Hey @sconno05 !

This is not a feature we have implemented as Handlebars would already do the job pretty well. You could compile your mjml, then render your handlebars tags with libraries like mu2 for instance

[2016-02-23 10:04] arnaudbreton commented on #84
Hey @simonwoodhead thanks for reporting. We'll have a look at it shortly and come back to you once we found what's going wrong here.

Keep you posted!

[2016-02-23 10:06] GuillaumeBadi commented on #84
Hey @simonwoodhead !

The syntax has been replaced by a simplest one : instead of `google="false" facebook="true"`, you can do `display="facebook"`

[2016-02-23 10:23] #76 closed

[2016-02-23 10:23] #84 closed

[2016-02-23 11:05] ppawlak commented on #81
Hi,

I am currently considering using MJML to style my emails and not being able to define global CSS style is a deal breaker. So I am very interested into the resolution of this issue :)

Regarding your proposal I find awkward to have to use raw HTML to apply styling. IMO the point of using MJML is to avoid to use HTML whenever it's possible.
I would prefer something like:

[code]

[2016-02-23 11:25] arnaudbreton commented on #81
@ppawlak thanks for your feedback. To apply global attributes definition to MJML tags, please see the implementation suggested in #79

[2016-02-23 12:37] epayet opened #86 "max-width property really useful for mj-image?"
mj-image sets by default the css property `max-width` :

[code]

I have a case where it is much better looking on mobile without this property.

Here is the mobile version, the first image is the MjImage component without max-width, and the second one is the default MjImage component:

![mobile](https://gist.githubusercontent.com/epayet/fa058ac45dd748e5c6e0/raw/1e5d5694857cc2ee7cc45b9772d2b18ab649

[2016-02-23 12:59] ppawlak commented on #81
@arnaudbreton Thanks for pointing #79 out. _mj-class_   is definitely what I had in mind.

Now I understand the point of raw HTML.
In the CSS definition I think I will find it more useful to use a tag name instead of a class.

[code]

Will it work too?

[2016-02-23 13:51] iRyusa commented on #86
Hi @epayet,

Did you try to set `padding="0"` on your `mj-image` ? Because `max-width` is computed as such:
`min(columnWidth/widthAttr) - paddingLeft - paddingRight)` in order to avoid a column overflow.

[2016-02-23 14:07] iRyusa commented on #62
Ok, I figured out what happen: When giving a non-react element to a `mjText` that depends on `mjContent` it will crash.

Thank you very much for taking the time to do a repository to reproduce the bug ! I'll try to get a fix for a next release !

[2016-02-23 14:17] techdragon opened #87 "Components without Javascript - Imports ?"
MJML seems great and all, but it kind of defeats the purpose of 'simplifying things'... to suddenly burden myself with writing javascript files, running node... all this stuff...

Using 'vanilla' MJML is brain dead simple. so why do custom components have to make it twice as complicated?

Can we get some sort of import mechanism... I like how simple MJML is without having to write my own build too

[2016-02-23 14:50] epayet commented on #87
I am currently working on a starter kit to simplify these things with a toolchain already done and automated. But I do get your point

[2016-02-23 17:05] epayet commented on #61
This has been fixed by [this commit](https://github.com/mjmlio/mjml/commit/6a79d95934eaa36c91ff57008c514789b04bba6c).

However, the same rule applies for `MJMLElement`.
Take a look at my [pull-request](https://github.com/mjmlio/mjml/pull/88) to resolve this.

[2016-02-23 17:16] epayet commented on #86
I tried, in the example above, I am using `padding="10px"`, changing it to `padding="0"` just gave me 20px more, but still does not look like I want it to (the first tile) :disappointed:

Here is what I changed to have the first tile on MjImage:

[code]

and

[code]

[2016-02-23 17:31] iRyusa commented on #86
Can you give me the mjml that you use to generate this example ?

I think removing `max-width` can have a side effect on iOS, I believe that's why this it's like this.

However, I wonder if the bug I had on iOs wasn't related to column unit (`px` rather than `%`)... I have to test it.

[2016-02-24 05:29] #85 closed

[2016-02-24 07:26] melbon opened #90 "Add a WebStorm IDE integration"
Will be very helpful if you integrate your product with WebStorm IDE

[2016-02-24 08:07] arnaudbreton commented on #90
Hi @melbon thanks for sharing. I believe it is a similar request than #53, right? I'm closing for now, feel free to add a comment there.

Thanks!

[2016-02-24 08:07] #90 closed

[2016-02-24 08:09] arnaudbreton commented on #81
@ppawlak yes, as mentioned in the issue, the role of `mj-style` is to provide you with a tag containing regular CSS, not parsed, which will apply on the final HTML - once inlined.

[2016-02-24 08:15] arnaudbreton commented on #79
Hi @TheSisb, please find my answers below.

I'm not expert enough here, but what I understood when talking with developers who considered/used it before, it might be too much for what we do in MJML, where React is mostly here to support the component-driven approach (no management of component state afterwards, etc).
Also, as explained in the issue, the goal here is to embed such global definition

[2016-02-24 08:18] arnaudbreton commented on #87
Hey @techdragon, thanks for sharing. That's definitely something we'll want to add in a near future.
If you have a clear idea on how you would like this to be implemented, feel free to describe in more details here so we can kick-off the discussion with other users.

@epayet glad to hear you're working around an MJML toolchain, can't wait to see that in action! Feel free to drop us a line at hi@mj

[2016-02-24 10:27] iRyusa commented on #69
It's a documentation issue, it's already supported ! Sorry about that, I'll update the doc soon

[2016-02-24 11:19] epayet commented on #86
Here is the code I am using, very simple:

[code]

The `<mj-custom-image/>` being a copy paste from MjImage component with the changes I talked about before. Changing the padding did not affect much the result

[2016-02-24 11:26] #61 closed

[2016-02-24 15:24] sconno05 opened #92 "Add borders to mj-container"
According to the docs and through some trial and error, it doesn't seem like I can add a border to most components.  I think this would especially useful for mj-body, mj-section, mj-column.  Is there a workaround?

[2016-02-24 17:15] iRyusa commented on #25
@stepanh sorry for the delay, this was harder than I thought.

Next version of MJML will now correctly render `<mj-raw><% if (undefined) {} %></mj-raw>` ! I'll keep you updated tomorrow.

[2016-02-24 19:51] louiesolomon opened #95 "Documentation - Basic Layout Example"
Missing 'padding' style in the Company Header example code. Also, the preview image shows the text center aligned, and the 'Try it Live' example has the text left aligned.

[2016-02-24 21:17] frenchie4111 opened #96 "Set default padding to 0"
I am using MJML to style some emails, it is very frustrating to have to set padding="0" on all elements (mj-content, mj-text, mj-image). Why is the padding not defaulted to 0?

[2016-02-24 22:48] fouad opened #97 "Open-source live editor?"
Hey there!

This is an awesome project and I'd love to contribute to/self-host the live editor. Would it be possible to open-source the code for that?

Thanks :)
Fouad

[2016-02-25 08:52] meriadec commented on #97
Hey! This is already a work in progress, and it will be open sourced soon, after implementing the basics.
Thanks for the input, we'll be happy to have your contribution!

[2016-02-25 10:19] GuillaumeBadi commented on #95
Hey @louiesolomon !

Yep there is a missing `align="center"` and `padding=30` ! Thanks for discovering the issue!
It will be corrected! :)

[2016-02-25 11:24] arnaudbreton commented on #96
Hey @frenchie4111, thanks for sharing feedback.

You should have a look at #79 which provide a solution to provide global attributes definition, avoiding the need of repeating the attribute for every single element.

We made that choice from the beginning to ease the onboarding with MJML and quickly reach a point where templates looks great. Obviously, that's something we'll revisit if it raises t

[2016-02-25 11:36] rogierslag commented on #62
Cool that would be awesome, I ran into exactly the same issu. A slight adjustment to the mjContent method solved it

[code]

[2016-02-25 11:41] iRyusa commented on #62
:+1: @rogierslag if you can open a PR would be so cool ! :)

[2016-02-25 11:52] rogierslag opened #99 "Use react as a full view library"
When I came across this library I immediately thought of another project we did before (gennie) which defers the generation of pdf documents to another service. We'd like to do the same with email.

Since React is already a state of the art view library, it makes sense to add all the view stuff to react and let it render server side. The HTML can then be returned to the client.

There are a few is

[2016-02-25 16:05] Pookiz commented on #92
+1 I would like to know too :+1:

[2016-02-26 04:05] techdragon commented on #25
I just ran into this issue trying to render handlebars template markup into some mjml output.

[2016-02-26 06:18] codeskyblue commented on #97
+1

[2016-02-26 07:34] codeskyblue opened #100 "<table ?"
How can I write table. got many data to send.

[2016-02-26 10:43] iRyusa commented on #25
@techdragon it's merged on master, will be released it asap sorry for the  delay

[2016-02-26 11:43] #62 closed

[2016-02-26 14:36] arnaudbreton commented on #99
Thanks @rogierslag for the heads up. Glad to help where we can on that! I'm not deep in React but I'm sure @iRyusa @robink and @lohek could help!

[2016-02-26 14:39] swibge commented on #100
Hi,

I just wrote a component for that, waiting to be approved and merged ;)
https://github.com/mjmlio/mjml/pull/101

[2016-02-26 14:40] arnaudbreton commented on #100
Hey @codeskyblue, could you explain us a bit better what you're trying to achieve?

So far, regular HTML tables can be included by wrapping it up in an [`mj-raw`](https://mjml.io/documentation/#mj-raw) tag. From here, it should properly render.

Otherwise, yes as @swibge said, we started to implement such component, which is under review through PR #101. Feel free to have a look, share feedback an

[2016-02-26 17:19] kaoze opened #102 ""!" ending mj-text"
Bonjour !
First, thanks so much for this awesome piece of code...
Second, I second the request for the editor ;)
Then... a small bug compiling the following code

	<mj-section background-color="#fafafa">
		<mj-text color="#fafafa" font-size="20" font-family="Ubuntu, Helvetica, Arial, sans-serif" color="#626262">Des didacticiels pour aller plus vite !</mj-text>
		<mj-column>
			<mj-button backgroun

[2016-02-27 04:41] sconno05 commented on #99
I am 100% on board with this.  It would be much easier to compose components and add logic that would otherwise need to be handled with handlebars or some other parser.  Creating custom components would (should) be easier as well because it removes the need for all the boiler plate that presently exists.

[2016-02-29 04:01] techdragon commented on #87
@arnaudbreton I think `<mj-import src='./my-component.js'></mj-import> might be the easiest way to deal with the markup, as for the implementation details under the hood, I'll defer to more knowledgeable react developers on that part.

[2016-02-29 05:39] hikouki commented on #102
Try this code :sushi:

[code]

[2016-02-29 11:43] epayet commented on #40
I have the same render issues using Litmus as well. These desktop clients are showing a mobile version :/

[2016-02-29 11:51] epayet opened #106 "Columns that don't stack up on mobile?"
I have a case where I have 2 smalls columns and I don't want them to stack up on mobile because they look nice on mobile next to each other.

I know that the default behaviour of columns are that they stack up on mobile, but I would like to be able to specify that I don't want the columns to stack for a certain section.

Maybe an attribute for the section that change the default behaviour? Any ide

[2016-02-29 12:12] epayet opened #107 "mj-button does not render well without href attribute on outlook.com"
This is related to [#73](https://github.com/mjmlio/mjml/issues/73). Forgetting to put the href attribute on a mj-button changes everything on outlook.com. I usually put the href attribute at the end, and I forget to add it for testing purposes.

Is there a way to render the button nicely even without href? If not, maybe just add a warning on the documentation that says the href attribute is mandat

[2016-02-29 12:45] Pookiz commented on #92
Thank you !

[2016-02-29 15:57] lajlev opened #109 "Left align Text & Button don't align"
![screenshot](https://i.imgur.com/bMmplSp.png)

[2016-02-29 16:04] lajlev commented on #109
Button wrapping td is 30px ![screenshot](https://i.imgur.com/n9iGBIy.png)
While other elements are 25px ![screenshot](https://i.imgur.com/GnZRGks.png)
??

[2016-02-29 20:17] frenchie4111 commented on #79
This looks like a good solution. I would like to see the syntax look more like CSS, than the JSON you have here (Although I understand that would be harder from a parsing point of view).

Also it seems like there could be class name conflicts if specifying mj-classes is the same syntax as specifying styling for components. In CSS the `.` is used to specify classes, that might work better here.

[2016-02-29 20:18] frenchie4111 commented on #96
That's fine. I left my feedback on #79. I am going to close this issue.

[2016-02-29 20:18] #96 closed

[2016-03-01 06:55] kaoze commented on #102
merci !

[2016-03-01 09:45] iRyusa commented on #109
Yes, default padding on button is higher than other mjColumnElement. I guess we can standardize that..

[2016-03-01 09:51] iRyusa commented on #107
I think we can change `<a>` element by something else if there's no `href`

[2016-03-01 09:59] #102 closed

[2016-03-01 11:45] lajlev commented on #109
Awesome. Thanks for fast response :muscle:

[2016-03-01 13:35] trolologuy commented on #80
Excuse me, where is this supposed to be located? in the mj-head?

[2016-03-01 16:01] iRyusa commented on #109
It will be good in the next `1.3` release !

[2016-03-01 16:06] iRyusa commented on #86
In the next `1.3`, `max-width` will be removed.

We need to keep an eye on `mj-image` after `1.3` release to see if there's some regressions on it !

Thanks for investigating @epayet !

[2016-03-02 09:36] iRyusa commented on #106
See #41 There's some ideas on how to implement it :+1: I close this one

[2016-03-02 09:36] #106 closed

[2016-03-02 10:39] francoistibo opened #112 "Outlook bugs"
After emailonacid tests, I've seen some bugs on Outlook 2007, 2010, 2013 et 2016. Curiously, everything's ok on Outlook 2003, 2011 and 2016 mac.

- MJ-DIVIDER = margins appear under divider element, which has however been forced to have no padding (`<mj-divider padding="0" height="2"></mj-divider>`)
- MJ-IMAGE = image which are originally not fullwidth are resized to the parent container width. Th

[2016-03-02 13:29] iRyusa commented on #99
Hey @rogierslag,

With the `1.3` MJML can be used either server-side or client-side thanks to @lohek 's work on this.

1. We're ok to open the internal API of MJML but we need to understand what you want to do with it. Feel free to open a PR so we can discuss it.
2. I guess this is a weird bug with parentColor that has been removed in `1.3`: see #105 for more informations.
3. Already merged and wi

[2016-03-02 13:33] iRyusa commented on #95
https://mjml.io/try-it-live/basic has been updated, closing !

Thanks for reporting

[2016-03-02 13:33] #95 closed

[2016-03-02 16:08] iRyusa commented on #7
Will be ok on `1.3`

[2016-03-02 16:34] rogierslag commented on #99
What we'd like to achieve is similar to the project at https://github.com/inventid/gennie. Here one can simply define templates using HTML. At the start of the application, a server is started to which you can POST data. The server will get the template, enter the posted data, and return a full PDF. This avoids having that logic in our inner applications.

We'd like to do the same here:

1. Define

[2016-03-02 16:36] jmpp commented on #25
Having the same problem with <mj-raw> and PHP tags, I silentely followed this issue.

Recent merge solved the problem for me, my PHP tags are now well-preserved inside a <mj-raw>

A big thank you for this fix @iRyusa ! Also for making email development fun again ;)

[2016-03-03 04:27] sconno05 commented on #99
@rogierslag, I recently spun up a small node service very similar to the one you are describing.  We're using MJML to abstract away all of the convoluted HTML that you would normally need to write and handlebars for variable expressions, conditionals, iterators and the like.  It works fairly well, but the process of creating _reusable_ MJML components is still too cumbersome in my opinion.  There

[2016-03-03 09:10] arnaudbreton commented on #79
Hi @frenchie4111, thanks for your feedback. JSON format is indeed easier to parse for us.

About that, I'm not sure to understand, could you provide us with a sample please?

[2016-03-03 09:11] arnaudbreton commented on #80
@trolologuy correct yes, I've updated the description.

[2016-03-03 11:31] trolologuy commented on #80
@arnaudbreton thanks for the answer, so i did add

[2016-03-03 11:40] janus-reith opened #116 "Outlook 2013 crops/stretches background image"
Setting a background image will be ignored by Outlook 2013.

Furthermore, I wonder if it was the intention to let "background-url" replace background-color?

E.g. when using a transparent png, the transparent part will show the color of the body, and not the one that was defined in the section. (Directly in the Live Editor)

[2016-03-03 11:43] janus-reith commented on #116
Altough this is not completetly related to this issue, could someone here tell me how to implement something more complex, like a shadow around my 600px newsletter?

Using repeating images --> Not working in Outlook
Using nested 1px tables with different color --> Can not be implemented using MJML

[2016-03-03 11:50] iRyusa commented on #116
Hi @janus-reith ,

There's a VML fallback for background image, is this not working for you ?
We'll add support for background color with a background url shortly !

[2016-03-03 11:55] janus-reith opened #117 "<mj-divider> not working as expected in Outlook 2013"
In my two column layout, the divider that is placed under them should take up the whole 600 width.
In outlook 2013 it only takes the width of the left 50% column.

[code]

[2016-03-03 11:57] janus-reith commented on #116
Seems like it isn't, the sections have no bg image.
I am using the live editor, Is it up to date?

[2016-03-03 12:00] iRyusa commented on #117
Hi @janus-reith

Your markup isn't valid you can't set any `mj-divider/text/image..` outside of a `mj-column`

[code]

[2016-03-03 12:01] #117 closed

[2016-03-03 12:02] iRyusa commented on #116
Yes it should be, can you give me your MJML ?

[2016-03-03 15:26] Francolpm opened #118 "Receiving support?"
Hi there! This isn't a issue but I didn't know where to ask!
Are you accepting donations or supports? Because I want to give some of money to mjml, but there is no donate button o something like that.
I don't trying to spam you, but I want to invite you to beerpay.io, a simple platform to monetize open source projects, like mjml.
I know that the open source is free, but it's okay if someone want t

[2016-03-03 15:51] JacquelinClement opened #119 "[MJMLError] EmptyMJMLError"
Hi,

I got this error while trying to use : $ mjml -w index.mjml

I try this one, and it's work without error : $> mjml -r index.mjml

I took this code for the test :
[code]

Version mjml : 1.2.1

[2016-03-03 16:43] GuillaumeBadi commented on #119
Hey @JacquelinClement !

I can't manage to reproduce your error, do you have anything else that might have influenced the watch ?

[2016-03-03 16:57] JacquelinClement commented on #119
Here is a screen of the complete error :

![mjml](https://cloud.githubusercontent.com/assets/17112884/13502001/49e42610-e169-11e5-87a0-e1df48f4f64d.png)

Maybe the vhost can affect the watch ?

[2016-03-03 17:01] GuillaumeBadi commented on #119
It shouldn't. Basically, the [watch](https://github.com/mjmlio/mjml/blob/master/src/cli.js#L83) is just a function that renders the file on each save. If the `-r` works the `-w` should work normally. What happens when you provide another code sample ?

[2016-03-03 17:17] JacquelinClement commented on #119
Same code other commande :
`$ mjml -r .clement.mjml -o clement.html`
![mjml-r](https://cloud.githubusercontent.com/assets/17112884/13502563/c3137534-e16b-11e5-8ac7-2e64168b91fd.png)

And watch with an other code (this code https://mjml.io/try-it-live/newsletter) into the file clement.mjml :
`$ mjml -w clement.mjml`
![mjml-w2](https://cloud.githubusercontent.com/assets/17112884/13502677/33d0c9ac-e1

[2016-03-03 17:33] GuillaumeBadi commented on #119
What version of Node are you using ?

[2016-03-03 17:36] JacquelinClement commented on #119
Node version 4.3.2 :)

[2016-03-03 18:32] llekn commented on #119
I just ran on the same issue. I have some mjml template rendering with the -w flag that first throws the following warning:

`Warning: validateDOMNesting(...): <tr> cannot appear as a child of <td>. See Section > td > MJMLElement > MJMLColumnElement > tr.
`

And after that if I add an space anywhere I get the error

`Error: [MJMLError] EmptyMJMLError: Null element found in mjmlElementParser
    at

[2016-03-03 20:47] frenchie4111 commented on #79
Sure

Names would collide:
[code]

With the `.` prepending, you would know that it is defining a class.
[code]

Obviously creating a mj-class named the same thing as an mj-component would be silly, but I can see it being a problem, especially as more and more components get added to the ecosystem.

[2016-03-03 20:48] frenchie4111 commented on #79
Also it might be better `<mj-style>` (rather than `<mj-attributes>`) to match the standard html `<style>` tag.

[2016-03-03 21:39] bartman110 commented on #40
+1

[2016-03-03 21:57] strukturedkaos commented on #40
Has anyone figured out a workaround for this issue in the meantime?

[2016-03-03 22:48] luizbills opened #120 "[proposal] import tag"
Any plans to an import tag?

[code]
[code]

useful to maintain a large template, large raw parts, reusable blocks, etc...

[2016-03-03 23:47] peckrob commented on #120
+1. Was literally just trying to figure out how to do this!

[2016-03-04 01:41] peckrob opened #121 "Using custom component?"
Maybe I'm missing something, but there seems to be a pretty big hole in the documentation between creating a custom component ... and actually using it.

https://mjml.io/documentation/#create-a-component

I ran:

`mjml --init-component header`

and it created a Header.js file in the current directory. And then what? How do I use the custom component I just created? Simply running `mjml` throws an

[2016-03-04 03:01] techdragon commented on #112
These have been biting me a LOT.

[2016-03-04 09:07] GuillaumeBadi commented on #121
Hey @peckrob !

You are quite right, the CLI cannot handle imports yet as mentionned here https://github.com/mjmlio/mjml/issues/120 .

To use custom components at the moment, you have to create a JS file, and `require` every custom components before calling the mjml2html function

[2016-03-04 09:41] iRyusa commented on #112
Hi @techdragon & @francoistibo

Can you give an example for each of your concerns with actual/expected render for a given MJML, it would help us a lot.

[2016-03-04 11:21] epayet commented on #121
The documentation is not really clear about how to import custom components... I created a starter-kit for this purpose, where you can put your custom components on the `components` folder and then start the dev mode (file watching) or just build it manually. Have a look ;)

https://github.com/epayet/mjml-starter-kit

[2016-03-04 19:13] luizbills opened #122 "[website editor] render with CTRL+ENTER"
or some other hotkey

[2016-03-06 16:35] jarodium opened #123 "Cloud9 integration"
Hello there

I would like to suggest Cloud9 integration :)

[2016-03-07 01:16] kevin-wolf opened #124 "Mobile version showing on Google Inbox"
Anyone was having this issue? My email it's showing nice on each view but on http://inbox.google.com it's displaying the mobile one.

Any thoughts or neat solution?

[2016-03-07 08:20] arnaudbreton commented on #124
@kevin-wolf thanks for reporting.

Could you please share the MJML code, the engine version you're using to render and a screenshot of the result?

Thanks!

[2016-03-07 08:22] arnaudbreton commented on #120
Very interesting idea, thanks @luizbills for sharing.

Do you expect this tag to include the other template in place exactly where wrote in the document?

Personally, I prefer `mj-include` for the name

[2016-03-07 11:29] epayet commented on #124
This is the same issue than [40](https://github.com/mjmlio/mjml/issues/40). Google Inbox is another client that shows mobile version.

[2016-03-07 13:17] jkrenge opened #125 "Width of divider and column on Outlook 2013"
With the following MJML, ...

[code]

... this HTML is generated (only excerpt) ...

[code]

... but this renders not to the full determined width (of `800`) on Outlook 2013, as shown in the first image:

![before](https://cloud.githubusercontent.com/assets/625618/13570512/f4336a42-e46e-11e5-879d-85028c787d3b.png)

We need to fix the `width:NaNpx;` to be `width:800px;` the `td` of the second `<!--

[2016-03-07 13:30] iRyusa commented on #125
Hello @jkrenge ,

I believe that `width` unit isn't parsed as it should be...

If you replace `<mj-body width="800px">` by `<mj-body width="800">` it seems to be ok. I'll test on `1.3` to see how it behaves, thanks for reporting !

[2016-03-07 13:46] luizbills commented on #120
Yes, @arnaudbreton
Like this:
[code]

Maybe will be interesting too, if has template arguments
[code]

[2016-03-07 14:44] meriadec commented on #97
Hi guys, we just released a first version of the desktop mjml editor: https://github.com/mjmlio/mjml-app
Still a lot of work to do, it has actually those features:
- create template from scratch / from a preset
- edit with live reloading
- preview in desktop + mobile
- send a test email (with [Mailjet](https://www.mailjet.com/) API keys)
- create a gist from template

Feedbacks are welcome :p

[2016-03-07 14:44] #97 closed

[2016-03-07 15:58] jkrenge commented on #125
Ah okay, this makes sense. Thanks for the help!

[2016-03-08 09:08] rogierslag commented on #99
That would be insanely awesome indeed! Do you happen to have the service somewhere on Github? I'd :heart: to take a look

[2016-03-08 09:51] Tlapi commented on #67
Ok, i suggest we could add a attribute to mj-social so that we can set whether it is social follow or social share. If you set it as social follow, url sharer prefixes (like https://www.facebook.com/sharer/sharer.php?u=) will be ignored.

I will make a pull-request for that, feel free to review and comment.

[2016-03-08 09:57] Tlapi commented on #67
Please check this pull request: https://github.com/mjmlio/mjml/pull/126

[2016-03-08 10:20] janus-reith commented on #116
This is a small excerpt of my code, however it works to reproduce the issue.

[http://pastebin.com/ywm3KFja](url)

It works as intended in gmail, in all browsers I tested.
The Mailclient on iOS, and most i tested on Android will not show it, as intended to make best use of the available space.

Outlook 2013 ignores them.

[2016-03-08 11:07] janus-reith commented on #116
I just tried replacing the background image in the code above, and it is shown.(In the example above: Replaced shadow_repeat_600_white.jpg with shadow.jpg)

Therefore I assume that the background image gets stretched somehow in outlook, and therefore I could see the white part of it , but not the left and right 40px of the 600px image that create the  shadow.
I will investigate this further to det

[2016-03-08 11:25] janus-reith commented on #116
Interesting. I just created [this](http://www.cds-service.com/newsletter/images/Image/2016/NN/colormeter.jpg) 600px mutlicolored image and used it with my code above. While most clients show it as expected, Outlook will only show green and white.

My conclusion is, that Outlook will only show an area of something between 440-460px of my 600px background image.

[2016-03-08 11:46] janus-reith commented on #116
Just tested the AMARIO template in Outlook 2013.
The background image with the boats also has a width of 600px, but outlook doesn't cut of any width.

Instead it repeats in height, but this is probably a design issue, as it happens in Outlook 2013, Chrome, Iphone 6s and even in the try-it-live mobile view.

[2016-03-08 15:22] janus-reith commented on #116
I just tested again, in outlook 2013 my 600*1px bg image is cropped at 450px and then stretched back to fit the 600px. My workaround atm is to do the same in reverse:

I take my bg image, shrink it to 450px leaving 75px white on each side.
Then I take my finished MJML HTML code and replace every <v:fill> with the extra outlook version.

[2016-03-08 19:42] vitvad opened #127 "please add supported programs/email servers in Reedme or wiki"
Awesome idea, thx for this tool.
Could you update description with:
- compatibility ?
- maybe you know any alternative tools that suggest similar?

[2016-03-08 23:27] arnaudbreton commented on #127
About email clients supported, it's all here https://mjml.io/faq#email-clients

The closest tool we've found to MJML is http://foundation.zurb.com/emails.html but it is still close to regular HTML and requires to with it (less than plain HTML though).

Hope it helps!

[2016-03-08 23:27] #127 closed

[2016-03-09 00:12] vitvad commented on #127
@arnaudbreton thx, somehow miss that section

is there any plans to support blackberry ?

[2016-03-09 09:19] baptistebriel commented on #80
Any news on this? Is it already possible to use custom fonts within `mjml`?

[2016-03-09 14:12] janus-reith opened #128 "Adding background image messes with padding in Outlook 2013"
[This is an example with two sections.](http://pastebin.com/SY7e3YVd)

The first of them looks as it is supposed to including in Outlook, as it does not have a background.

The second one only has the difference that background-url is set.
In Outlook 2013 it is shifted to the left.

![ol2013](https://cloud.githubusercontent.com/assets/1831220/13637864/df7748de-e609-11e5-8acd-343db4325c12.png)

I a

[2016-03-09 15:21] codeskyblue commented on #97
nice

[2016-03-09 16:29] jt3k opened #129 "What about non-responsive mail?"
how to make mail-layout ceased to be responsive?

[2016-03-09 16:34] epayet commented on #129
From my point of view, non responsive emails could be non-stacking columns. It will look the same on mobile and desktop. See issue [#41](https://github.com/mjmlio/mjml/issues/41) and the work in progress [PR115](https://github.com/mjmlio/mjml/pull/115)

[2016-03-09 18:06] jt3k commented on #129
it looks like the solution to this problem with the use of crutches.

is it possible to completely disable rules media query such as the addition of attribute no-responsive="true" to mj-body tag?
[code]

_Sorry if my English sounds rude_

[2016-03-10 11:57] peteringram0 commented on #81
Is this going in the next build?

[2016-03-10 12:03] jeeshenlee opened #130 "Outlook Render can't render text-alignment well"
Text alignment of text that is nested in mjcolumn does not render correctly on Outlook 2013.

How do i get it to render correctly? Thanks.

![mjml-01](https://cloud.githubusercontent.com/assets/1011777/13668934/ffdef468-e6fa-11e5-8498-f76b7eabfe58.png)

[2016-03-10 14:36] jt3k commented on #129
bump up

[2016-03-10 14:46] SkylerRogers opened #131 "MJ-TEXT Component missing 'text-transform' attribute!?"
Was this by design (i.e. is there something I am overlooking where you can pass arbitrary "overrides" to the style attribute prior to HTML generation) or was this particular attribute just overlooked?

All the best,
-Skyler

[2016-03-10 15:12] SkylerRogers commented on #131
Update: I was able to find a work around via https://github.com/mjmlio/mjml/issues/66. It looks like you can just add native HTML tags within MJ-TEXT like so...

    <mj-text>
      <h1>text</h1>
    </mj-text>

I'm curious if the arbitrary style tag is currently possible but this should do trick for now.

Thanks again,
-Skyler

[2016-03-10 15:13] iRyusa commented on #129
To be honest, MJML is designed with a mobile first approach. So having a non-responsive mode would be tricky

[2016-03-10 15:14] iRyusa commented on #130
Hi @jeeshenlee

Can you provide a sample MJML, i'll take a look at it

[2016-03-10 15:47] jt3k commented on #129
OK, then I will remove the block with a media-query in the output files :(

[2016-03-11 01:39] jeeshenlee commented on #130
@iRyusa here's my MJML. Thanks for taking your time to help.

[MJML-BookingEmail.txt](https://github.com/mjmlio/mjml/files/168330/MJML-BookingEmail.txt)

[2016-03-11 02:09] techdragon commented on #25
We still have incorrect rendering problems for mj-raw in beta8... I'm tempted to say they are worse now, since its generating asymmetrical tags that will really screw up rendering in IE. It looks like the end table tag is actually slipping down to before the next raw element.

[code]

Turns into
[code]

[2016-03-11 04:19] techdragon opened #132 "Regression: striping of font family, font-size, replacing by incorrect values"
I've had to resort to forced style values on inner tags in order to fix the stripping of font values for instance on mj-text here:
[code]

Turns into

[code]

I didn't specify Arial or Helvetica so why are they being inserted?
If this isn't a bug how do I fix it, and if it is, then its one that seriously affects the usefulness of mjml (1.3.0-beta4)
Right now I'm left with cheap hacks jamming style

[2016-03-11 12:50] jeeshenlee commented on #130
I believe i have found where the code is causing this problem.

The generated

`                            `

where the mso specific should be
`                            `

Can someone update this into the code generator? Thanks!

[2016-03-11 19:11] patrickguevara commented on #120
This would be so helpful!

[2016-03-12 05:01] justinchristensen66 opened #133 "error after npm install"
I am running node 5.1.1 I installed mjml globally through npm and now when I run "mjml -r index.mjml" and  also input.mjml I get a message "Error: ENOENT: no such file or directory, access 'index.mjml'
    at Error (native)"     Is this something on my end? What do you think went wrong?

[2016-03-12 15:57] arnaudbreton commented on #132
Hey @techdragon, sorry to read that you're experiencing an issue here. We'll have a look shortly and come back to you very shortly with a solution.

Thanks for sharing.

[2016-03-12 15:59] arnaudbreton commented on #129
Hi @jt3k, sorry we can't help more for now. As @iRyusa, we've designed MJML with responsive in mind because we believe email must be look great everywhere these days.

I'm closing the issue for now. Let us know if you're experiencing any issues or if you find an alternative solution for your use-case, we would love to review a contribution from you.

Happy emailing with MJML!

[2016-03-12 15:59] #129 closed

[2016-03-12 15:59] arnaudbreton commented on #133
Hi @justinchristensen66, sorry to read that you're experiencing an issue here. Thanks for sharing here.

Are you sure the file is accessible in current directory?

[2016-03-12 16:52] jt3k commented on #129
I typeset the mail with a width of 400 px and I want to have a table here. but I can not do it because you think that the letters in the modern world must look good everywhere ...

please correct this problem. it prevents to achieve my goal.

[2016-03-12 19:07] justinchristensen66 commented on #133
i was running in a empty directory.  Not sure if that was the issue, so I created a index.mjml file and ran "mjml -r index.mjml" in the directory and got "Error: [MJMLError] EmptyMJMLError: Null element found in mjmlElementParser
    at MJMLError.Error (native)
    at new MJMLError (/Users/justinchristensen66/.nvm/v5.1.1/lib/node_modules/mjml/lib/Error.js:24:85)
    at Object.mjmlElementParser (/U

[2016-03-12 19:31] epayet commented on #133
I think this is because your `index.mjml` is empty. You should use a basic layout to start with like:

[code]

I agree that the error message may not be clear enough here.... Suggestion, maybe we should check that the file is not empty or that it is starting by `mj-body` and if not, show the error `File is not valid / empty`.

[2016-03-12 21:28] justinchristensen66 commented on #133
Thanks @epayet ! Once I added the above to my empty file the command "mjml -r index.mjml" generated the "a.html" file.  So I guess everything is going good again.  Thanks to @arnaudbreton for the help as well.

[2016-03-13 14:55] arnaudbreton commented on #133
@justinchristensen66 welcome! glad to hear it works now. I'm closing the issue. Thanks @epayet for figuring this out.

[2016-03-13 14:55] #133 closed

[2016-03-14 09:30] iRyusa commented on #130
I think this could be already fixed in 1.3, I'll check it..

But you're right the generated TD misinterpret width's unit

[2016-03-14 09:53] iRyusa commented on #25
@techdragon that looks good to me on branch 1.3-beta :

![capture d ecran 2016-03-14 a 10 50 27](https://cloud.githubusercontent.com/assets/570317/13740742/9806dcae-e9d2-11e5-9a0d-4ea2cd824842.png)

In red body table
In orange raw tags that wrap a section
In blue section + column
In green mj-image

[2016-03-14 09:59] iRyusa commented on #116
It might be an issue with the generated vml then. Big :+1: for your investigations

[2016-03-14 14:35] markbloomfield opened #135 "Mailchimp template tags"
Further to our [discussion on Twitter](https://twitter.com/wondergryphon/status/709294071936905216), having the ability to use [Mailchimp template tags](http://templates.mailchimp.com/getting-started/template-language/) is invaluable.

Almost all newsletters I code, are for use in Mailchimp and are templates which clients will take control of to re-use for future use. Thus, being able to mark some

[2016-03-14 15:24] unluisco opened #136 "add border and border-radius"
is possible to add border-radius to sections and to body?

[2016-03-15 13:57] iRyusa commented on #128
May be related to #116

I don't know if vml might cause some weird things on a section...

[2016-03-15 14:17] iRyusa commented on #130
Appears to be fixed in 1.3 ! :tada:

[2016-03-15 14:19] iRyusa commented on #136
Hi!

A PR is open at #103 , but we need to finish the 1.3 before merging it. Border-radius has a terrible support on outlook, so I don't think we can add it

[2016-03-15 15:13] iRyusa commented on #125
Hey !

It will behaves as expected on 1.3, will close when we ship it !

[2016-03-15 16:41] jkrenge opened #137 "Faulty padding in Outlook 2013"
With this MJML code for the header:

    <mj-section
      padding-top="2px"
      padding-bottom="2px">
      <mj-column>
        <mj-image
          src="https://cdn.parcellab.com/img/logo/garten-und-freizeit.png"
          href="http://www.garten-und-freizeit.de/"
          alt="Garten-und-Freizeit.de"
          width="240"
          align="left">
        </mj-image>
      </mj-column>

      <

[2016-03-16 15:33] kelvinaero commented on #86
On your example site https://mjml.io/try-it-live/racoon everything looks good, when we copy your template mjml and render on our local machine, the images render with the same value as the % of the columns, but in pixels. What is wrong?
![screen shot 2016-03-16 at 11 25 00 am 3](https://cloud.githubusercontent.com/assets/9321587/13817941/80359770-eb6a-11e5-8d22-cf06d970f501.png)

[2016-03-16 15:43] iRyusa commented on #86
Hi !

What version of MJML are you using ?

[2016-03-16 16:00] kelvinaero commented on #86
Hello iRyusa the mjml version is 1.2.1

We are also using gulp-mjml 1.0.0

[2016-03-16 16:15] arnaudbreton commented on #135
Hi @markbloomfield, thanks for moving the discussion here.

I see two main ways to approach this request from MJML perspective:
* Provide you with a way to pass attributes, outputted straight to the final HTML element. Something like `mj-attr-raw`, similar to `mj-raw` but for attributes. The main limit of that approach is since an MJML tag often leads to many HTML tags, we would not be able to pos

[2016-03-16 16:16] J-J-A commented on #80
+1

[2016-03-16 16:23] iRyusa commented on #132
Hi @techdragon

Will be fix in the next release ! Thanks for reporting

[2016-03-16 16:30] arnaudbreton commented on #120
:+1:. I don't think going into templates arguments is necessary. The way I see it is that MJML is focused on producing responsive HTML, not really templating.

In that case, I would expect `my-header.mjml` to contain MJML with templating tags (using the templating engine of your choice, handlebarsJS, Twig, Mailjet Templating Language, etc):
[code]

Which translates to a final HTML output, where th

[2016-03-16 16:35] arnaudbreton commented on #99
Hi @rogierslag @sconno05 could you please reach out me at dev@mailjet.com? I may have a solution for you.

Best.

[2016-03-16 16:38] peckrob commented on #120
@arnaudbreton Yes, this is pretty much exactly what I'm currently doing with Laravel Blade template tags.

What I ended up doing was creating a master MJML email with a {{content}} block, and using Blade to fill in the {{content}} with simple HTML. This is less than ideal, primarily because I cannot use MJML outside of the master template. Anything used in the content has to be kept very simple.

[2016-03-16 16:41] arnaudbreton commented on #121
Thanks @epayet for sharing! @peckrob did it makes thing easier to you?

As @GuillaumeBadi said, the import tag will be the solution we would like to implement to solve this issue. Feel free to participate in the discussions there!

[2016-03-16 16:43] arnaudbreton commented on #119
@llekn does it happen with the same MJML input file?

[2016-03-16 16:46] arnaudbreton commented on #87
@techdragon thanks for the feedback. Let push the discussion in #120 to avoid duplicates. Thanks for sharing!

[2016-03-16 16:46] #87 closed

[2016-03-16 16:48] arnaudbreton commented on #123
@jarodium thanks for sharing! Any idea how we could help things move forward here?

[2016-03-16 16:52] arnaudbreton commented on #131
Glad you've found a workaround for now. I believe this is something we can add in a future release. Keeping it open for now, will keep you posted!

Happy coding with MJML!

[2016-03-16 17:33] kelvinaero opened #138 "Error generating .mjml"
mjml -r test.mjml on mac command-line returns this error

Error: ENOENT, access 'test.mjml'
    at Error (native)

mjml v. 1.2.1

[2016-03-16 17:34] GuillaumeBadi commented on #138
Hey @kelvinaero !

can you paste the output of `ls -l` ?

[2016-03-16 17:41] kelvinaero commented on #138
-rw-r--r--  1 kelvinaero  staff    8271 Mar 16 11:32 body_promo.html
-rw-r--r--  1 kelvinaero  staff    2130 Mar 16 11:32 body_promo.mjml
-rw-r--r--@ 1 kelvinaero  staff    3697 Mar 15 15:24 btn-approved.jpg
-rw-r--r--@ 1 kelvinaero  staff    6606 Mar 15 15:23 btn-fb.jpg
-rw-r--r--@ 1 kelvinaero  staff   98319 Mar 15 16:19 contest-rules.jpg
-rw-r--r--@ 1 kelvinaero  staff  234177 Mar 15 16:19 ente

[2016-03-16 17:44] GuillaumeBadi commented on #138
You need to replace `input.mjml` by an `mjml` file in you case, I assume it would be
```$ mjml -r body_promo.mjml```

[2016-03-16 18:05] kelvinaero commented on #138
Well, I just parked inside this folder, but no matter how try it returns an error. Lets say I want to create version 2, I would use

$ mjml -r body_promo2.mjml

I still get:

Error: ENOENT, access 'body_promo2.mjml'
    at Error (native)

[2016-03-16 19:45] jarodium commented on #123
The integration could be as the code coloring on the cloud9.
Parsing and previewing I think it be be achieved by developing a plugin for them.

My knowlegde of the Cloud9 plugin system is very rudimentary, as I am developing a MySQL plugin ( at this time work is pretty much stalled due to lack of time ) for interfacing with a MySQL server.

[2016-03-16 23:49] CourtFantinato commented on #136
Border radius is a pretty safe progressive enhancement to implement, support-wise. The fallback would simply be square corners for the email clients that don't support it. Those that do, get the nice progressive enhancement.

[2016-03-17 06:48] markbloomfield commented on #135
thanks @arnaudbreton. I think your first suggestion is closest to what I had in mind as a solution here.

I realise that the way the system compiles MJML results in a lot off code from a simple `mj-section` tag for example, but having the attribute apply only to the parent tag, is perfectly fine.

The main mailchimp tags that are needed when it comes to making re-usable templates, are `mc:edit="fo

[2016-03-17 08:48] GuillaumeBadi commented on #138
`mjml -r` won't create the file, you need to 1) Create the file with your favorite Code Editor, then compile the file with `mjml -r`

[2016-03-17 10:38] Tlapi commented on #137
I have analyzed this issue and here is what I have found.

There is a problem with mj-divider and mso, when the fallback is rendered `<table style="font-size: 1px; margin: 0px; border-top: 1px solid #d2aa4b; width: 100%;"></table>` there is something going on inside Outlook and it will will this empty table with something. See this screenshot:

![Alt text](http://www.ecomail.cz/images/outlook.jpg)

[2016-03-17 10:44] iRyusa commented on #137
@Tlapi Nice investigation ! I'll try to add this fix to 1.3 today!

Vertical Align is now applied in `1.3`, I don't know why vertical-align: middle doesn't work in gmail tho

[2016-03-17 10:47] Tlapi commented on #137
I will investigate if needed. ;-)

[2016-03-17 11:00] Tlapi commented on #137
Here w are trying to use `vertical-align` on `div` with `table` inside. And this wont work as `vertical-align`

[2016-03-17 13:54] kelvinaero commented on #138
Ok it looks like a documentation issue, in the end we ended up creating the file manually, but wanted to ask you.  just in case it was an error. It would be nice to be able to generate a skeleton file, but that is just a suggestion. Thank you.

[2016-03-17 14:15] kelvinaero opened #139 "Broken link in the compponents section"
Good morning again. While reading a little further in the Create a Component/Imports Section of your documentation, I encountered a broken link

MJMLColumnElement
https://github.com/mjmlio/mjml/blob/master/src/components/MJMLColumnElement.js

[2016-03-17 14:20] iRyusa commented on #139
Hi @kelvinaero
It will be corrected in the next documentation release, thanks!

[2016-03-18 15:47] #138 closed

[2016-03-18 15:48] kelvinaero commented on #86
Hello. When is your team going to roll 1.3 out?

[2016-03-18 19:01] fraincs opened #140 "Strange border added around pictures in Gmail Android"
Here's an example : https://litmus.com/builder/267a3b9 using the demo code on the website
direct link to the bug: https://androidgmailapp.capture.litmuscdn.com/25a39761-d7f7-4a46-b045-92df370a2dcb/results/androidgmailapp-vertical-allowed-1366.png

[2016-03-20 18:58] yammadev opened #141 "How can I use it with Laravel?"
I've been reading that you have to install dependencies trough command line (I mean npm), but in the laravel structure there are many folders, so, where exactly do I have to install it?

[2016-03-20 21:45] techdragon commented on #25
Then I may have misread the logic that constructed the table. It seemed that the opening and closing `[if-mso]` comment/tags were generated 'around content', not 'inside containers'. So, using your colours for reference, the orange portion, would belong 'outside' the `[if-mso]` segments that are in red.

I could be wrong about the order of nesting however, since all the convoluted table nesting th

[2016-03-21 06:29] cbdtn opened #142 "Sample layout breaks on mobile"
Tried the basic layout sample at https://mjml.io/try-it-live/basic . The layout breaks on mobile due to a fixed width <mj-column width="400"> . Is there a fix?

[2016-03-21 08:18] #125 closed

[2016-03-21 08:21] selrond commented on #80
+1 here - any news?

[2016-03-21 09:20] J-J-A commented on #80
I saw you released the font-feature in Version 1.3. When is it going to be out?

[2016-03-21 09:26] iRyusa commented on #25
Problem is there's many case and we have to deal with :
[code]

Imagine this scenario, if mso's conditional tags was after the `if test` from `mj-raw`, the mso structure will not be applied and will completely fail on outlook.

MJML is a markup langage with no logic, you should use a preprocessor before using MJML for this kind of case.

`Mj-raw` is a workaround for some cases but it's not here to

[2016-03-21 10:10] iRyusa commented on #137
Fix from @Tlapi is applied on 1.3 and release

[2016-03-21 10:10] #137 closed

[2016-03-21 10:10] iRyusa commented on #132
Fix in `1.3` :+1:

[2016-03-21 10:10] #132 closed

[2016-03-21 10:11] iRyusa commented on #109
`1.3` is now available on npm !

[2016-03-21 10:11] #109 closed

[2016-03-21 10:11] #7 closed

[2016-03-21 10:13] iRyusa commented on #25
Closing this, now behave as expected on 1.3.

[2016-03-21 10:13] #25 closed

[2016-03-21 10:13] iRyusa commented on #67
:+1: on `1.3` by adding `:url` on each social network on `display`

[2016-03-21 10:13] #67 closed

[2016-03-21 10:14] iRyusa commented on #77
Now fixed in `1.3` :+1:

[2016-03-21 10:14] #77 closed

[2016-03-21 10:15] iRyusa commented on #86
@kelvinaero today ;)
Should be ok in `1.3` @epayet feel free to re-open if anything break

[2016-03-21 10:15] #86 closed

[2016-03-21 10:16] iRyusa commented on #100
`mj-table` is part of `1.3` release :+1:

[2016-03-21 10:16] #100 closed

[2016-03-21 10:17] iRyusa commented on #130
And now released ! :+1:

[2016-03-21 10:17] #130 closed

[2016-03-21 10:26] iRyusa commented on #112
I think your concern with divider is now ok in `1.3` release.
As described it's the expected behavior from MJ-Image, but you can set a `width` attribute.
And for MJ-column, with no step te reproduce i'm closing the issue, feel free to reopen with step to reproduce + screenshot

[2016-03-21 10:26] #112 closed

[2016-03-21 10:58] #141 closed

[2016-03-21 11:07] yammadev commented on #141
I was thinking that it was necessary to save all `mjml` files in some folders and import them, but, reading with calm the documentation I realize that use this framework is a breeze. Just install it globally in the machine using `npm` and the just copy and paste the rendered file to destination path. Nice!

[2016-03-21 18:20] arnaudbreton commented on #142
Hey @cbdtn, sorry to hear that. On which email client / device are you testing? Also, do you have a screenshot of the result, so we visualise better the issue? Thanks for your help.

[2016-03-21 18:25] llekn commented on #119
@arnaudbreton Yes, it happens with the same. The first time I get the warning and, if I add a space (in an irrelevant place of course, like between tags) MJML fails to compile it.

The funny thing is that erasing the space makes everything to work great again...

[2016-03-22 06:49] codeskyblue commented on #100
:+1:

[2016-03-22 08:48] Tlapi opened #144 "Bug in mj-image width?"
There is strange behaviour now in mj-image, when you use and set image width to 350

`<mj-image src="assets/img/logo-small.png" width="350"></mj-image>`

you get

`<img alt="" src="assets/img/logo-small.png" style="border:none;display:block;outline:none;text-decoration:none;width:100%;height:auto;" width="350" height="auto">`

So, image is 100% width, not 350. Something to do with @lohek commit ht

[2016-03-22 08:51] Tlapi commented on #144
I see, that there is now default width css style set to 100% by default, but not being recalculated never. I will try to fix this.

[2016-03-22 08:58] Tlapi commented on #144
I have just removed default 100% width style as it seems it was added by mistake. See PR https://github.com/mjmlio/mjml/pull/145

[2016-03-22 09:32] cbdtn commented on #142
Thanks for your reply, @arnaudbreton . I tested out the sample layout in Android(gmail and inbox), iPhone(mail and gmail) and they seem to work fine in mail clients but seems to be breaking when opened in a mobile browser strangely. Also, the layout breaks when resized to a mobile width in Chrome - Mac and while using the Chrome's device mode.

You should be able to see a similar behaviour in the

[2016-03-22 10:32] janus-reith commented on #144
Yes, this broke my design, commented on your pull request...

[2016-03-22 11:14] andreavaghi opened #147 "CLI watch option not working"
Hi,
i've just installed mjml and trying to build my first email template.
using the CLI with -r option is working fine, but when i try to use the -w option this is the error that i get

mac osx 10.11.3
mjml 1.3.1
node 5.8.0
npm 3.7.3

![screen shot 2016-03-22 at 12 09 36](https://cloud.githubusercontent.com/assets/639934/13949740/02575cfa-f027-11e5-94d2-4cda2c656ddd.png)

[2016-03-22 11:44] janus-reith commented on #147
Maybe you miss some dependency?
You could installing with npm

[2016-03-22 11:47] andreavaghi commented on #147
doesn't `npm -g` already install all package dependencies?

[2016-03-22 11:57] sergiubutnarasu commented on #147
Same problem

[2016-03-22 12:12] dominiquedutra commented on #147
Same problem here.

Windows
nodejs v5.9.0
npm 3.7.3
mjml 1.3.1

[2016-03-22 12:17] GuillaumeBadi commented on #147
Sorry guys, refactoring issue, should be fixed with this: https://github.com/mjmlio/mjml/pull/148

I am updating the package in a minute

[2016-03-22 12:34] dominiquedutra commented on #147
@GuillaumeBadi Not a problem. Thanks for the team's efforts and  congrats for  MJML. Mailjet is a great product and so is MJML.

[2016-03-22 12:44] GuillaumeBadi commented on #147
Thanks for the comment :+1:

Can you make sure it works on your side ? https://www.npmjs.com/package/mjml ?
mjml 1.3.2 is now published!

Guillaume

[2016-03-22 12:50] sergiubutnarasu commented on #147
@GuillaumeBadi I just tested and works. Thank you!

[2016-03-22 12:53] dominiquedutra commented on #147
@GuillaumeBadi It works. Thanks.

[2016-03-22 13:57] andreavaghi commented on #147
It works!
Thanks

[2016-03-22 13:57] #147 closed

[2016-03-22 16:02] erochersimplicite commented on #24
Hi everyone, I'm experiencing the same problem. I've tried with two separate domain Gmail for Business but the problem is still the same. It works on traditional reader like Apple Mail and/or free @gmail email but not on Gmail for Business/Work (columns are break)

As @caseymhunt said "Happy to attach whatever code you need here, to help isolate." :)

[2016-03-22 17:43] muxica opened #149 "Overriding the default fonts so that Ubuntu is never rendered"
Hi, I'm most likely missing something but I was wondering how to override the default fonts so that I am not stuck with Ubuntu. I'm hoping to use Roboto.

[2016-03-22 19:43] g0ddish commented on #66
Wrapping an anchor tag in mj-text requires you to inline remove text-decoration and color inherit to match the mj-text, is this the intended use?

[2016-03-23 07:54] arnaudbreton commented on #144
Hi, sorry about the issue. We'll have a look at it today.

Keep you posted on our progress.

[2016-03-23 07:55] arnaudbreton commented on #149
Hi @muxica, thanks for sharing!

We made a design proposition in #80 about this use-case. Please have a look at it and feel free to comment with your feedback there.

[2016-03-23 07:55] #149 closed

[2016-03-23 08:26] arnaudbreton commented on #149
@muxica actually, you can already use Roboto, using the `font-family` attribute [see the doc](https://mjml.io/documentation/#mj-text). Based on that #80 will be useful for you only if you need non supported fonts.

[2016-03-23 08:41] Tlapi commented on #144
Hey @arnaudbreton, this should have been already solved by https://github.com/mjmlio/mjml/pull/146

[2016-03-23 08:55] arnaudbreton commented on #144
@Tlapi correct, I missed this one sorry. We're currently reviewing it and should merge/release soon. Keep you posted

[2016-03-23 09:04] iRyusa commented on #144
@Tlapi 1.3.3 has been released can you test that your MJML work now ? :+1:

[2016-03-23 09:06] Tlapi commented on #144
@iRyusa I will.

[2016-03-23 09:06] #144 closed

[2016-03-23 12:53] selrond opened #150 "Full-width row"
I suggest adding a full-width row, so we'll be able to align text e.g. to the left edge of the viewport. Usage example - responsive e-mail signature

[2016-03-23 19:28] lRlevolution opened #152 "Not rendering correctly on outlook anymore."
I just recently updated to v1.3.3 and now the code doesn't render correctly for outlook on any browser. I tried using an old mjml code I used when it was rendering correctly but when I output the code it still doesnt show correctly. See new output ( http://awesomescreenshot.com/0f25qh5w6f ) and the old view for 2 days ago. ( http://awesomescreenshot.com/0905qh62fb ).

[2016-03-23 19:29] Tlapi commented on #150
Hi @selrond You can use `full-width` on `mj-section`

[2016-03-23 19:36] lRlevolution commented on #152
`<mj-body background-color="#FFFFFF" width="600px">

  <mj-section padding-bottom="9" padding-top="9" background-color="#2092D6" color="white">
      <mj-column width="100%" vertical-align="middle">
          <mj-text align="center" color="white" font-family="Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif" font-size="18" padding-left="25" padding-right="25" padding-bottom="0" padding-top="

[2016-03-23 19:39] Tlapi commented on #142
The problem is with `min-width`, which is set to 400px when you set `width` of `mj-column` to `400`. I think there could be `max-width:100%` on a `mj-column` and `width` should be set instead of `min-width`.

What do you think?

[2016-03-24 08:16] selrond commented on #150
Yeah I see, but I need the text to be aligned to the left of the viewport, now it is still centered.  Basically - I need to be able to align the columns (or the the centered container that contains them) to the left

[2016-03-24 09:13] iRyusa commented on #152
Hi @lRlevolution !
Sorry to hear about that, can you show us a sample of your MJML ?

[2016-03-24 10:47] janus-reith opened #153 "<!-- ... --> HTML Comments break the code inside an Ending Tag"
I used to comment my mjml code with  tags.
Since 1.3 it seems like they get parsed somehow,
in some parts they appear as text, in some they just break the funcionality of the section after the comment.

I tried CSS comments, they also don't work.
If HTML Comments was just a thing that worked unintentionally,
you can see this as a feature request.

[2016-03-24 10:54] iRyusa commented on #71
The documentation now provides default values ! :+1:

[2016-03-24 10:54] #71 closed

[2016-03-24 10:54] iRyusa commented on #69
Documentation has been updated ! :+1:

[2016-03-24 10:54] #69 closed

[2016-03-24 10:57] iRyusa commented on #66
@g0ddish Can you open a new issue with all the details ? thanks !

@paOol we've added a notice on the documentation to clarify this !

[2016-03-24 10:57] #66 closed

[2016-03-24 11:11] iRyusa commented on #153
Hi @janus-reith

Looks like to work for me on `1.3.3` can you give me your MJML ?

[2016-03-24 12:27] Pookiz opened #155 "Display issue on Apple Mail on Iphone 5S"
Hello,

When I tried the compatibility between clients/devices with Email On Acid, I found this issue :

![screen issue](https://cloud.githubusercontent.com/assets/9559832/14016921/9c228196-f1c3-11e5-9801-2009279ec159.png)

I have researched how to fix this and there is the solution :
http://stackoverflow.com/questions/9493272/iphone-mail-table-doesnt-stretch-to-100-because-of-an-anchor-tag
http:/

[2016-03-24 13:03] arnaudbreton commented on #155
Hi @Pookiz, sorry to hear you're experiencing issue with your layout.

Could you please share the MJML code used here, so we can provide you with better support?

[2016-03-24 13:08] janus-reith commented on #153
This is the code that  worked before the update.
(In this code you can also see how the image width is ignored.)

[code.txt](https://github.com/mjmlio/mjml/files/187871/code.txt)

[2016-03-24 13:12] Pookiz commented on #155
Hi @arnaudbreton, thank your for your answer
The example is from the basic layout : company header

Here the section with the image :+1:
`<mj-body background-color="#e8e8e8">

<mj-section background-color="#f0f0f0">
  <mj-column>
    <mj-text
              font-style="italic"
              align="center"
              font-size="20"
              color="#626262">
      My Company
    </mj-text>

[2016-03-24 13:17] g0ddish opened #156 "Anchor tag for components"
Maybe I'm blind but I can't find in the docs how to use links other than hrefs in image and button. I was wrapping an anchor tag in mj-text and it required you to inline remove text-decoration and color inherit to match the mj-text.

- Would it make more sense for it to take on the styling of its parent?
- What if I want to link a component that doesn't have href?
- Would an mj-a tag would be a go

[2016-03-24 13:49] iRyusa commented on #153
Updating the issue title, this might be an issue with htmlparser

[2016-03-24 17:21] lRlevolution commented on #152
Hi,

Code goes as followed:

<mj-body background-color="#FFFFFF" width="600px">

  <mj-section padding-bottom="9" padding-top="9" background-color="#00b259"
color="white">
      <mj-column width="100%" vertical-align="middle">
          <mj-text align="center" color="white" font-family="Gotham,
'Helvetica Neue', Helvetica, Arial, sans-serif" font-size="18"
padding-left="25" padding-right="25" padd

[2016-03-24 20:24] arnaudbreton commented on #156
@g0ddish thanks for sharing.

Please provide MJML code showing what you're trying to achieve and/or [try it live](https://mjml.io/try-it-live) URL (or screenshots) of the result, to be sure I get everything.

Thanks!

[2016-03-24 20:27] #121 closed

[2016-03-24 23:25] arist0tl3 opened #157 "Rendering Components without a Body"
Hey guys, loving this so far!

Out of curiosity, is there a way to render individual components, without a body?

For instance, right now for a component I can do something like:

    <mj-body>
      <mj-section>
        <mj-text>
          Hi!
        </mj-text>
      </mj-section>
    </mj-body>

and then grab everything in between the `<div>` tags inside the `<body>`, save that to a variable, a

[2016-03-25 10:26] iRyusa commented on #142
As @Tlapi mention `min-width` is the problem here. We have to check if we can remove it safely

[2016-03-25 10:33] mattpirelli commented on #153
I second this issue. I've updated just yesterday to 1.3.3 and can confirm that HTML comments inside `<mj-text>` break the rendering. Well, it [fails spectacularly](http://i.imgur.com/seWzWLm.jpg) :tada:

Strangely enough, HTML comments inside other components (namely, `<mj-button>`) don't seem to interfere with the rendering.

[2016-03-25 12:34] cbdtn commented on #142
Thanks @Tlapi @iRyusa.

Instead of `min-width`, I would suggest you to use `max-width` will fix the problem.

And one more thing, I just found out by testing the sample layout in **gmail client** at chrome browser - Mac. The two or three column grid won't work as expected.

<img width="1499" alt="screen shot 2016-03-25 at 5 19 47 pm" src="https://cloud.githubusercontent.com/assets/3166995/14044080

[2016-03-25 12:44] iRyusa commented on #142
Keep in mind that MJML is designed with a mobile first approach, so `max-width` wont help much.

It's a bug with google apps gmail, there 's still an issue opened for google apps #24 . We're still trying to fix it

[2016-03-25 12:46] cbdtn commented on #142
Oh! Ok, I got it. Thanks.

[2016-03-25 19:09] EmmanuelBeziat opened #159 "Support background on mj-text"
Hi there,

I'm in need of using a background on mj-text component right now. I'm not able to find a good workaround with this (outlook don't allow padding certain tags)…

This would be a good feature to add, imo.

Thanks!

[2016-03-25 19:17] EmmanuelBeziat opened #160 "Gutter between columns / body"
Hi there,

I do need to have columns separated by some spaces. At this point I don't know how to achieve this…

Thanks for any help.

[2016-03-27 20:00] cyberwombat opened #162 "No align on social buttons"
It looks like the `align` attribute does nothing on the social component. Tested in live demo on Safari 9.0.3

[2016-03-28 14:45] gonchs opened #163 "Create public Gitter chat room for support"
Would be nice to have a chat room where people can help each other: https://gitter.im

[2016-03-28 15:23] jquinter commented on #157
in fact, there is dependencies: if you check the generated html, mainly css classes and stuff.

I think this proposal may cover what you asked: #78 , so please check it and leave a thumb up if it would work for you

[2016-03-28 15:32] arist0tl3 commented on #157
@jquinter Thanks for the response, I thumbed that thread -- looks interesting!

[2016-03-28 15:49] cyberwombat opened #164 "Accessing helpers from custom components"
How would one use:

    import  { widthParser } from '../helpers/mjAttribute'

In a custom component?  Is there a way to access the helpers in another way?

[2016-03-28 20:26] g0ddish commented on #156
This is for my first bullet, an example use case would also be legal text links matching their mj-text parent.
https://mjml.io/try-it-live/8b865458e9b573574322

My second bullet won't compile into HTML; I hope this illustrates what I'n trying to accomplish.

[code]

[2016-03-29 07:39] janus-reith commented on #128
Just as an update, this is still an issue with 1.3.3.
The use of background-images still results in weird/unwanted paddings.

[cropped/stretched background](https://github.com/mjmlio/mjml/issues/116) in Outlook is also still a thing.

[2016-03-29 08:46] iRyusa commented on #160
Hello @EmmanuelBeziat

Column doesn't support padding, you can just add the same padding on every element inside your column like this:

[code]

[2016-03-29 10:38] EmmanuelBeziat commented on #160
Hello,

Nope, this won't work for what I need here — really spaces between columns, not inside. Here's a scheme :

![](http://image.noelshack.com/fichiers/2016/13/1459246934-example.jpg)

So at this point, each column contains two ```<mj-text>```and one ```<mj-image />```. Each '''<mj-text>''' have some padding on them already, and they only work "inside". In this case, i'm stucked because I have

[2016-03-29 11:11] janus-reith commented on #116
Well, I nearly can't believe that it took me so long to find the solution:

<v:fill>'s type has to be changed from type="tile" to type="frame".

I would prepare a PR for this, but it is a bit complicated:
Im unsure if type="tile" could also be needed by some users, so I can not just replace it with fill.

On the other hand it also seems a bit hacky to add an additional parameter for mj-section to

[2016-03-29 14:07] Coobaha opened #166 "ghost button styles"
Hi! First of all, thanks for this awesome tool!

I cant figure out the way to render ghost button (button with border only without background, like download button on your site)

I tried this:
[code]
but this produce squared button, ignores border-radius..

If I remove border attribute from `table`, and apply it to `a` styles - all works as expected in chrome preview.
[code]

[2016-03-29 14:15] janus-reith commented on #166
I also tried that without success.
For now I stick with with an image as button.

[2016-03-29 15:33] arnaudbreton commented on #156
I see, in that case it is an update on the component itself, which definitely lacks an `href` property. Thanks for reporting!

We'll look into that shortly. Meanwhile, we would love to review a contribution from you.

Keep you posted

[2016-03-29 15:37] arnaudbreton commented on #157
Hi @arist0tl3, thanks for sharing. Thanks @jquinter for helping here!

The body, acting as a root for the document is indeed required and we won't be able to bypass it. Also, in order to provide you with a responsive HTML code, we need the full HTML generated.

Since each component is actually a ReactJS one, I believe there is a way to render it individually through React directly, allowing you ju

[2016-03-29 15:38] arnaudbreton commented on #159
Thanks @EmmanuelBeziat for sharing! We'll look into it and come back to you shortly.

[2016-03-29 15:38] arnaudbreton commented on #162
Thanks @cyberwombat for reporting. We'll look into it and keep you posted.

[2016-03-29 15:54] #139 closed

[2016-03-29 15:56] lohek commented on #164
Hi !

Maybe, you can try `import  { widthParser } from 'mjml/lib/helpers/mjAttribute'`

[2016-03-29 16:53] arist0tl3 commented on #157
@arnaudbreton Thanks for the response!

I agree that my use is likely a bit of an edge case and probably wouldn't justify putting in a considerable effort. That being said, though:

A current project is building out a way for users to create newsletters, transactional emails, etc. Right now, my workflow looks like:

1) Designer comes up with a new theme/template
2) I take each of our components an

[2016-03-30 15:07] epayet commented on #164
Hi, I just checked. This works, but I don't find that very intuitive?
Maybe we should have an alternative like

[code]

Or something close to this?
I guess we should expose the helpers on [src/index.js](https://github.com/mjmlio/mjml/blob/master/src/index.js)

[2016-03-31 00:21] lRlevolution opened #169 "Columns on outlook desktop break to 100%"
As you can see ( http://awesomescreenshot.com/0ea5r3eg2d ) for some reason the columns break and dont stay at the % they're suppose to be at for the desktop view.

I even used one of the template html codes on the mjml website and sent it to myself with the same results. tested on outlook.com on firefox, safari and chrome.

It seems as if its because the columns have a min-width of the right perce

[2016-03-31 02:24] zd9027 opened #170 "help! Warning: validateDOMNesting(...): Warning: validateDOMNesting(...): < div > cannot appear as a child of < tbody >. See MJMLElement > Column > tbody > MJMLElement > Column > div."
Describetion:

$ mjml -w edm.mjml -o edm.html

Warning: validateDOMNesting(...): < div > cannot appear as a child of < tbody >. See MJMLElement > Column > tbody > MJMLElement > Column > div.

NOW,what should i do,how to do can i resolve this???

[2016-03-31 08:48] iRyusa commented on #170
Hello @zd9027 !
Can you provide a MJML sample, look like your nesting a non-tr/td element into your column

[2016-03-31 11:18] arnaudbreton commented on #169
Hi @lRlevolution, sorry to hear that. Could you please provide us with your MJML code so we can figure out better what's going wrong? Thanks!

[2016-03-31 12:11] ngarnier commented on #163
Hey @gonchs, thanks for your message, we totally agree!

We're working on it and you'll have a place to chat with fellow MJMLers in the coming weeks, keep you posted!

[2016-03-31 17:03] lRlevolution commented on #169
Look no further than the example templates you have on the site. You can use this one and you will notice the 3 column layout breaks to 100% on a desktop view for outlook https://mjml.io/try-it-live/onepage

[2016-03-31 17:09] g0ddish opened #173 "Travis CI Node 4.2 builds failing"
CI builds for node 4.2 are breaking with this dependency error :scream:
[code]

[2016-04-01 12:52] joaopvilla commented on #169
This is the most frustrating thing to use me. You should rethink the renderer. We spent time creating the structure and testing, stating that it works and when tested in emails they stop working.

<img width="1440" alt="screen shot 2016-04-01 at 09 51 37" src="https://cloud.githubusercontent.com/assets/17101231/14207261/5e1c143e-f7ef-11e5-9486-89411d91488e.png">
<img width="1440" alt="screen shot

[2016-04-01 13:19] arnaudbreton commented on #173
Hey @g0ddish thanks for noticing! Looking into that and will fix shortly

[2016-04-01 13:30] arnaudbreton commented on #40
Hey guys, sorry for the delay in the answers here.

After digging into that issue, it turns out the Outlook Webmail 2016 behaviour won't allow us to support both and desktop and mobile render. For that reason, we decided it would be better for MJML users to go for the mobile rendering, leading to a great render on mobile devices and still decent one on desktop.

About Google Apps, we still haven't

[2016-04-01 14:17] arnaudbreton commented on #169
Hey @joaopvilla @lRlevolution, sorry for the delay in the answers here.

After digging into that issue, it turns out the Outlook Webmail 2016 behaviour won't allow us to support both and desktop and mobile render. For that reason, we decided it would be better for MJML users to go with the mobile rendering, leading to a great render on mobile devices and still decent one on desktop.

About Google

[2016-04-01 17:49] muxica commented on #160
Hey @EmmanuelBeziat, a temporary solution could be adding an empty column set to the specific width you need in between but this will probably result in strangely sized columns if you leave them at the default 100% width.
`<mj-column background-color="#FFFFFF" width="Xpx"></mj-column`

<img width="750" alt="screen shot 2016-04-01 at 1 48 55 pm" src="https://cloud.githubusercontent.com/assets/66555

[2016-04-04 11:51] raitucarp opened #177 "Compile all files .mjml in a directory"
What is the parameter?

[2016-04-05 08:50] markbloomfield opened #179 "Request: Allow `width` parameter on `mj-button`"
Scenario:

![buttons](https://cloud.githubusercontent.com/assets/936966/14275877/0f7710ca-fb1b-11e5-9a0f-676d16c455a0.jpg)

Can't duplicate this layout with padding only... Would be great to be able to set a width on buttons?

[2016-04-05 09:16] markbloomfield commented on #170
Would be awesome if these kinds of errors, could return a line-number of the offending code in the .mjml document?

IE would allow *us* to debug where *we* went wrong, instead of adding these kinds of issues..

Just a thought :)

[2016-04-05 13:30] aurmil opened #180 "Add social text tag only when necessary"
hello,

when using the social component, I wanted to display only icon, without any text so I set xyz-content=""
as expected, there's no text displayed but the td>a tags still exist in HTML code, with a padding-right so this element has a width

these tags should be added only if text is not empty

[2016-04-05 19:16] g0ddish commented on #180
Have you tried with text-mode = false?
Example:
https://mjml.io/try-it-live/b665980d71b571adeace00e283ded09e

[2016-04-06 07:49] aurmil commented on #180
exactly what I needed so I think documentation should be improved on this particular point as it is written:

attribute | unit | description | default value
---------- | ----- | -------------- | -----------------
text-mode | string | vertical/horizontal | true

I didn't understand why true was the default value if authorized values were vertical and horizontal
now I get it...
thanks

[2016-04-06 07:51] aurmil opened #181 "Fix doc mj-social note"
the note under mj-scoial should be fixed:

something is missing in both \`\`

[2016-04-06 09:24] aurmil opened #182 "mj-image and width=auto support"
I want to display an image resized on height, not on width, and with width: auto
but

[code]

becomes

[code]

note: 700px is my email width

so width auto is not considered or considered as an invalid value and fallbacks to default width 100% behavior

[2016-04-07 08:31] zd9027 commented on #170
@iRyusa
hello, this is my MJMLtemplate ,and when it parse to html ,< div > is contained in < tbody >, i dont know why....

[code]

[2016-04-07 08:34] zd9027 commented on #170
@markbloomfield

no,it not return  a line-number of error info.

[2016-04-07 08:57] iRyusa commented on #170
Hi @zd9027 !

You have a column in a column :

[code]

[2016-04-07 12:23] asha23 commented on #81
I simply use <mj-raw> to create a custom stylesheet in the document... Seems to work OK :)

For example

`
	<mj-raw>
		<style>
			.button-custom {
	 			background:#b6c933;
				color: white;
				display:inline-block;
				border-radius:10px;
				padding:5px 10px;
				font-weight:bold;
				transition:all 0.5s ease;
				cursor:pointer;
				margin-right:10px;
			}
			.button-custom:hover {
				backgrou

[2016-04-07 15:21] arnaudbreton commented on #177
Hi @raitucarp, it is not supported at the moment, our CLI can only compile one file at the moment.
This is a feature we are currently adding for a future MJML release.

Keep you posted on our progress!

[2016-04-07 22:51] netpoe opened #184 "Render HTML comments or render in an expanded format"
I'm using MJML templates with code similar to this:

[code]

This is needed for my templates logic. However, editing parsed HTML templates is difficult due to MJML collapsing all tags.

Is there a way of:

a) Adding a `--no-collapse` option
b) Escaping HTML comments so they appear on the rendered template?

[2016-04-07 22:55] arnvvd opened #185 "Content in custom components"
Hi,
I would like to create several components which include compaign monitor's tags. So I did this :

[code]

It works, however I don't know how to put my content dynamically in my tags <pre> `<mj-singleline> ...(myContent) </mj-singleline>` </pre> like <pre> `<mj-text> ...(myContent) </mj-text>` </pre>
Can anyone help me ?

[2016-04-08 06:59] raitucarp commented on #177
OK. Thanks

[2016-04-08 10:13] arnaudbreton commented on #170
Hi @zd9027 did that solve your issue here?

[2016-04-08 10:15] arnaudbreton commented on #182
@aurmil thanks for reporting, we'll have a better look and come back to your shortly on it.

[2016-04-08 11:13] lohek commented on #184
Hi !

Can you try :

[code]

[2016-04-09 01:05] Petergatsby commented on #136
@CourtFantinato well said. Was this ever resolved?

[2016-04-09 01:06] Petergatsby commented on #136
I'm currently looking to implement a border-radius for images...

[2016-04-11 12:28] lohek commented on #173
Fix with #175

[2016-04-11 12:28] #173 closed

[2016-04-11 16:15] GuillaumeBadi commented on #185
Hey @arnvvd !

First, you shouldn't make a conditional return. You component has to return something or throw an error.

[code]

then, if your component only contains text, or non-mjml tags, you have to tell the compiler to omit its content:

[code]

Finally, wrap your rendered html into a div, and set its content to your final result, otherwise, react will throw an error because `singleline` is n

[2016-04-11 16:55] arnaudbreton commented on #184
Hey @netpoe, did the @lohek solution worked for you?

[2016-04-11 16:56] arnaudbreton commented on #170
No feedback, closing for now.

[2016-04-11 16:56] #170 closed

[2016-04-11 16:57] #169 closed

[2016-04-11 17:01] arnaudbreton commented on #142
@cbdtn closing for now. Tracking GApps issue through #24. Feel free to comment there.

[2016-04-11 17:01] #142 closed

[2016-04-11 17:03] arnaudbreton commented on #150
@selrond sorry for the slow answer here. If I understand well, you don't want the main container to be centered, is that right? If yes, I'm afraid it's not possible at the moment with our current HTML layout.

What are you trying to achieve here?

Thanks for the feedback

[2016-04-11 17:06] arnaudbreton commented on #140
@fraincs sorry for the slow answer. It seems the link are now expired so we can't really see what is going on. Would be awesome if you could repost them. Apologies for the inconvenience

[2016-04-11 20:59] g0ddish commented on #81
How can we get about getting this rolled up? I would love this feature in the next build; is there anything I can do to help?

[2016-04-12 16:03] iRyusa commented on #152
Hi @lRlevolution !

Everything looks ok on my side, can you provide the full mjml template to help us investigate ?

[2016-04-12 17:13] #152 closed

[2016-04-12 17:13] lRlevolution commented on #152
I had empty span classes which didn't render the styles.

[2016-04-12 18:49] mamos98 opened #188 "Adding support for Direction attribute"
Hi, Thanks for the great work of you guys on mjml.
It's literally the best solution I've ever seen to email design problems.

I'm using mjml for both Persian and English languages and it would be great if you could add support for "direction" attribute in all components like `<mj-text>` , `<mj-button>` , etc. or simply you could help me how to do that.

Currently, I have some issues in Persian and

[2016-04-12 19:34] gad2103 commented on #99
any movement on this? this is a show stopper for me too.

[2016-04-13 08:38] selrond commented on #150
To use it for email signature for instance - where you need to have everything left-aligned maybe in some full-width container

[2016-04-13 10:53] tinohager opened #189 "Documentation wrong - Create a Component"
In Example on right side, mjml --register but now mjml --init-component

[2016-04-13 11:30] hikkyu commented on #177
@raitucarp In the meantime, you can use gulp-mjml with globs pattern:

[code]

[2016-04-13 18:48] tinohager opened #190 "Create a own component"
I have try to create a own component after instructions of the documentation. If a example available?

[code]
What then to do with the .js file?

Thanks

[2016-04-13 23:35] arnvvd commented on #185
Thanks a lot @GuillaumeBadi ! It works perfectly, you made my day !

[2016-04-14 11:55] arnaudbreton commented on #189
Hey @tinohager, thanks for reporting. We'll fix it ASAP and keep you posted!

[2016-04-14 11:56] arnaudbreton commented on #185
👍 @GuillaumeBadi @arnvvd. I'm closing the issue, feel free to open new ones should you have any questions.

[2016-04-14 11:56] #185 closed

[2016-04-14 15:08] GuillaumeBadi commented on #190
Hey!

You mean, how to use the component once done, or how to actually write the component ?

[2016-04-15 04:45] JoshuaMapley opened #191 "Nested Columns"
I'm having a bit of trouble with making sub columns, I'm not sure if this is a feature or not but what i'm trying to do is this:

![demo](https://cloud.githubusercontent.com/assets/17286486/14551613/c4f03e7c-0318-11e6-9306-1b961ac2bff5.jpg)

but when ever i nest a column it deletes it completely, any recommendations of how this should be done or clarification about what's going on would be great,

[2016-04-15 12:17] tinohager commented on #190
It want to know how to use it. What am I supposed to do with the .js file, do i have to copy it in a specified folder or do i have to add an entry in another file to use it?
In short, I need the way from "--init-component title" to "<mj-title>"

[2016-04-15 18:01] lRlevolution commented on #188
This would be extremely helpful!

[2016-04-18 08:23] GuillaumeBadi commented on #190
So, right now you have to create a js file that will `import` your component, then compile your mjml:

[code]

[2016-04-18 12:44] ngarnier commented on #191
Hey @JoshuaMapley, can you please share the mjml code you're using to achieve this?

From what I see you're just trying to have a section with 2 columns, which can be achieved like this:

[code]

[2016-04-18 12:54] groomain commented on #120
Any advance on this feature? 👍

[2016-04-18 22:12] liminspace opened #193 "Add vk to mj-social"
Please, add vk to `mj-social`. VK.COM is very popular social media and many people will be use it.
You can use this icon https://www.iconfinder.com/icons/386743/kontakt_v_kontakte_vk_vkontakte_icon#size=128

[2016-04-19 08:53] ugogo opened #194 "TypeError: Cannot read property 'defaultMJMLDefinition' of undefined"
Hey guys,

Just tried MJML and so far it's really good!

I wanted to create a component, so i did `mjml --init-component foo`, then put `<mj-foo>content</mj-foo>` in my `index.mjml`, but when i compile it, i got an error
[code]

Any idea?
Thanks.

[2016-04-19 09:55] ugogo commented on #179
+1

[2016-04-19 16:59] lRlevolution opened #195 "Not aligning images correctly on outlook 2003 & Lotus Note 8.5"
Seems as if the images within columns do not align properly on outlook 2003 & Lotus Note 8.5
preview ( http://awesomescreenshot.com/0e05szz6e7 )

[code]

[2016-04-19 17:04] groomain commented on #157
Hi,

I think I also need this kind of feature.

In my app I include sometime a part in many emails.

Actually I render my part and I only take the html (without the body, header...). It's sometimes hard to find the html I need.

Regards,

[2016-04-20 07:28] Pookiz commented on #155
Hi MJML team!

Have any news from this issue ? :(

Thank you!

[2016-04-20 08:00] GuillaumeBadi commented on #190
I am closing this one. Feel free to reopen it if it doesn't answer your question

[2016-04-20 08:00] #190 closed

[2016-04-20 14:22] GuillaumeBadi commented on #194
Hey !

Can you paste what you've done so far in the component file ?

[2016-04-20 14:32] arnaudbreton commented on #195
Hey @lRlevolution, sorry about that. We're looking into it and come back to you shortly!

Your template looks awesome btw!

[2016-04-20 22:03] lRlevolution commented on #184
Is there a way to prevent the comments from being removed?

[2016-04-21 01:43] nitindhar7 commented on #120
echoing @groomain -- any updates on this?

[2016-04-21 07:59] ugogo commented on #194
Hi @GuillaumeBadi, sure!

[code]

As you can see, I've multiple types of `note`, so I tried to create a note component.

[2016-04-21 08:11] GuillaumeBadi commented on #194
At the moment, if you want to compile a file, you will have to create a js file, `import mjml` and `import yourComponent` before starting the rendering. Or you might as well use the [MJML starter kit](https://github.com/epayet/mjml-starter-kit) which does this for you.

[2016-04-21 08:39] sankar11 opened #196 "While rendering, mjml always generating empty data apart from html default code."
[code]
The following code is generated after rendering the above code.

[code]

[2016-04-21 08:49] GuillaumeBadi commented on #196
What version of MJML are you using? In the online editor, your code is working fine for me: https://mjml.io/try-it-live/14c176b040ecbb1c30ad960d67059a3f

[2016-04-21 10:00] arnaudbreton commented on #120
Hey guys, sorry for the delayed answer. Unfortunately, no progress on that yet since we're busy finalising MJML 2.0 which will be released in the coming days (more to come about that, please subscribe to our newsletters via https://mjml.io to be informed when it's out).

We'll keep you posted on our progress in the coming weeks. Meanwhile, we would love to review a contribution from you for this f

[2016-04-21 10:05] ugogo commented on #194
Mh ok, thx!

[2016-04-21 10:05] #194 closed

[2016-04-21 10:14] arnaudbreton commented on #184
@lRlevolution not at the moment, we're working on that. I will open a dedicated issue for this request so you'll be able to track;

[2016-04-21 13:47] groomain commented on #179
+1

Also needed to make full width buttons

[2016-04-21 13:51] iRyusa commented on #179
Any idea on how `width` will be applied on older outlook ?

[2016-04-21 14:17] sankar11 commented on #196
The problem is not with code. The problem is with rendering. In Mac os, when I render mjml it displays the above code only. But in windows it is fine. I am using node v5.10.1 and npm v3.8.3 with brew.

[2016-04-21 15:14] arnaudbreton commented on #196
@sankar11 in which email client do you experience rendering issue? We need more details in order to be able to help you here. Thanks!

[2016-04-21 15:21] arnaudbreton commented on #196
Hi @sankar11, can you please tell us more how you render this MJML document? What version of the engine? What is the code running the rendering? The more details you can share, the easier for us to help you here. Best!

[2016-04-21 15:45] sankar11 commented on #196
Hi,
It has been rectified. There was some problem with node and npm. Thanks for your support.

[2016-04-21 15:52] arnaudbreton commented on #196
Awesome, glad to hear. Closing the issue.

[2016-04-21 15:52] #196 closed

[2016-04-21 16:58] jvhellemond commented on #166
It looks like the `border` property is applied to the parent of the button (a `<td>` element) and the `border-radius` is applied to the the parent and the button itself (an `<a>` element). But `border-radius` has no effect on `<td>` elements.

This issue, for this particular case at least, could be fixed by applying the `border` property to the button itself, rather than its parent.

[2016-04-22 16:48] gad2103 opened #197 "word-break declaration breaking table layouts on mobile"
`<td style="word-break:break-word;font-size:0;padding:10px 25px;" align="left">`

this seems to cause the table headers to pile up at small resolutions and removing it fixes the problem. however, its generated by default when the template is compiled. please consider making it optional.

here is an image of the problem

![img_0323](https://cloud.githubusercontent.com/assets/1045265/14748584/711127

[2016-04-25 10:51] nick13jaremek opened #198 "Is there any way to validate the MJML content before converting to HTML?"
Hi there!

We are using the `mjml` library in a NodeJS project to convert MJML emails to HTML. For this purpose, we are using the `mjml2html` function you provide.

However, we noticed that this function is synchronous, and therefore error handling needs to be done using a try-catch clause.

Is there is any other function or sister-library of yours that may be used to validate an MJML structure be

[2016-04-25 11:22] gabskoro commented on #59
I also would appreciate support for background-image with background-color on `mj-section` elements

[2016-04-26 11:32] ppawlak opened #199 "mjml2txt"
When writing a newsletter one often embed both HTML and text format in the email.
It would be great if _mjml_ could also generate the plain text part from the same markup using a _mjml2txt()_ function

[2016-04-26 11:44] dalefish opened #200 "Ability to add custom properties"
I'd like the ability to add custom properties and values.

Currently I build a lot of editable templates for clients to use in mailchimp, it would be preferable to define the editable areas in the mjml rather than having to retro-fit it to the compiled html.

For instance:
`<mj-text color="#ffffff" font-size="28" align="center" padding-top="40" mc:edit="title">`

[2016-04-26 11:46] dalefish opened #201 "Ability to add custom properties"
I'd like the ability to add custom properties and values.

Currently I build a lot of editable templates for clients to use in mailchimp, it would be preferable to define the editable areas in the mjml rather than having to retro-fit it to the compiled html.

For instance:
`<mj-text color="#ffffff" font-size="28" align="center" padding-top="40" mc:edit="title">`

[2016-04-26 12:06] robsonsobral opened #202 "allow cellpadding and cellspacing parameters on `<mj-table>`"
Just because sometimes we need them.

Currently, `<table style="border-spacing: 10px; border-collapse: separate;"></table>` returns `Cannot read property 'defaultMJMLDefinition' of undefined`.

`<mj-table  cellspacing="10">` would be good.

[2016-04-26 14:35] dalefish commented on #201
Duplicate

[2016-04-26 14:35] #201 closed

[2016-04-26 21:02] jarsbe commented on #30
@iRyusa Sorry to chime in on a closed issue but this doesn't seem to work as expected.

I can't get any of these elements to render:

[code]
 The HTML output:

[code]

Taking away the body produces a table but no text rendering. Any help here would be much appreciated!

Also it looks like the imports have changed which is a bit awkward for use with React as a lot of the names are valid HTML so the

[2016-04-27 08:04] dalefish commented on #200
Perhaps this format would work?
`<mj-text color="#ffffff" font-size="28" align="center" padding-top="40" prop="mc:edit,title" prop="id,sample_id">`

[2016-04-27 10:21] iRyusa commented on #30
Hi,

In a few days MJML 2 will be released (available on branch mjml-core), I believe that it should fix your issue of using MJML Components in a React context.

For your naming concern, all standard components will be prefixed with `mj-` to solve the possible conflict.

Keep in mind that MJML is more than a React based framework, a lot of fix for Outlook & many clients are done in a "post render"

[2016-04-27 10:30] jarsbe commented on #30
Fantastic, looking forward to the release. Once again thanks for all the effort on this lib!

[2016-04-27 11:38] dominiquedutra commented on #199
I would also like a feature like you described.

What i've tried so far:

```npm install -g html-to-text```
then bash
```cat emailmarketing.html | html-to-text > emailmarketing.txt```

Does funny things with image src links and line breaks on a mjml generated template.

Thanks

[2016-04-27 13:40] #153 closed

[2016-04-27 15:23] pixelize opened #204 "How do you set document/mj-body gutter ?"
Hey guys,

Just started my first email with MJML which looks a good framework.
Otherwise, I'd like to set a left and right gutter outside my general template. In fact, i'd like to add a padding-left and padding-right to the body so my container has spaces on the sides.

![group 3](https://cloud.githubusercontent.com/assets/2931627/14857458/a433d76a-0c9c-11e6-8bde-3baad0525fe3.png)

I tried several

[2016-04-28 09:07] pixelize commented on #160
+1 @EmmanuelBeziat I totally agree with you, would be awesome if we can put gutters between cols to space them out.

For now I use a dirty trick which is working fine:

`<mj-column background-color="#FFFFFF" width="20%">
      <mj-raw>
          &nbsp;
      </mj-raw>
    </mj-column>`

[2016-04-28 16:05] akacha opened #207 "Responsive problems facing mail gmail"
Good afternoon, I am creating a responsive email with mjml which works perfect, but when viewed on the app gmail, it is not seen in the respective columns for which it was designed, the query is to see how I fix that is displayed correctly in both native mobile application and the app offers gmail

Thanks for the help

[2016-04-28 19:22] joeyfigaro opened #208 "Include documentation/examples for subclassing base components"
I was looking to throw this into a project at work and had about a 30 minute window to get up and running. Unfortunately, I wasn't able to subclass the base components to add the project-specific inline styles within that time, so I had to abandon it for the time being.

Would be fantastic if there were examples that showed how to subclass something like the `MJ-SECTION` component to add css prope

[2016-04-29 07:34] Bloggerschmidt opened #209 "mjml2: Render and redirect the result to a file"
If I want to render the result to a file with

`mjml input.mjml -o my-email.html`

it behaves like the output to terminal

`mjml input.mjml`

Working with mjml 2 and node 4.4.3
Maybe a bug? Any workarround?

[2016-04-29 09:30] francoismart commented on #209
+1
In my case, i don't have any error on screen with command line and the file is not generated

If i use the watch option I have :

/home/vagrant/.node_modules_global/lib/node_modules/mjml/node_modules/mjml-cli/lib/client.js:106
  bufferPromise.then(function (mjml) {
                ^

TypeError: bufferPromise.then is not a function
    at render (/home/vagrant/.node_modules_global/lib/node_modul

[2016-04-29 09:43] iRyusa commented on #209
@francoismart it looks like you have a node version issue, can you give me your node version using `node -v` ?

@Bloggerschmidt I'll take a look, thanks for reporting it !

[2016-04-29 09:48] Bloggerschmidt commented on #209
@iRyusa Thank you for your great work. I find out, that
`mjml -r input.mjml -o my-email.html`
works. So, this issue is about the `-r`

[2016-04-29 09:51] francoismart commented on #209
@iRyusa i get 5.6.0 so i'm going to upgrade to 6  ?
another solution would be the desktop app isn't it ?

[2016-04-29 09:56] iRyusa commented on #209
@francoismart I was mislead by the error, @GuillaumeBadi has opened a PR #206 it should fix the watch option sorry about that !

[2016-04-29 09:58] francoismart commented on #209
@iRyusa  nice. but my first issue is to have a log on screen or file when nothing is generated .... is there a way to see errors ? thanks in advance

[2016-04-29 10:00] iRyusa commented on #209
@francoismart can you share your mjml ? thanks

[2016-04-29 10:03] pixelize commented on #209
@iRyusa Got the exact same error "TypeError: bufferPromise.then is not a function"
as @francoismart since update 2.0 when compiling with the -w option, any help ?

[2016-04-29 10:05] GuillaumeBadi commented on #209
@pixelize this is fixed by the latest pull request, it will be updated soon on npm

[2016-04-29 10:05] pixelize commented on #209
Thanks, awesome work guys ;) If anyone would be kind to have a look to my problem :
https://github.com/mjmlio/mjml/issues/204

Thanks in advance ;)

[2016-04-29 10:22] francoismart commented on #209
@iRyusa done on slack ... thank you and waiting for th update

[2016-04-29 13:42] erochersimplicite commented on #207
Hello @akacha maybe you have the same problem as some people with "App for work" if you want more details  watch for this issue --> https://github.com/mjmlio/mjml/issues/24 <--

[2016-04-29 13:48] akacha commented on #207
Thank you! and I will review :)

[2016-04-29 14:11] #189 closed

[2016-04-29 14:11] #181 closed

[2016-04-29 14:11] akacha commented on #24
@hteumeuleu I have read this entire thread and I can tell that I understand in the app gmail mobile breaks, let me know if have any idea how to fix it, I'm testing email responsive and works great on mobile devices and exept desk in the app gmail

[2016-04-29 14:11] #180 closed

[2016-04-29 14:15] ngarnier commented on #163
Hello @gonchs, I have some good news for you! We've opened a public MJML slack so everyone can chat and share about MJML: https://mjml.io/slack

It will be officially launched next tuesday but as you requested something similar, we thought you should be one of the first to join ;-p.

See you on Slack!

[2016-04-29 14:19] #162 closed

[2016-04-29 14:20] isnifer commented on #155
Hey, guys! There is a problem with that demo on desktop too:
## Tablet
![image](https://cloud.githubusercontent.com/assets/1788245/14918818/8848114a-0e2e-11e6-9b71-49ed0e60c3a8.png)

## Mobile
![image](https://cloud.githubusercontent.com/assets/1788245/14918825/8dc87164-0e2e-11e6-8e51-376292cd82d1.png)

[2016-04-29 14:22] akacha commented on #207
That solution is to gmail desktop, but my problem is with the mobile app for both Android and iPhone that does not take 2-column layout, but shown in 1, any idea how to fix it?

[2016-04-29 14:27] ngarnier commented on #207
Hey @akacha, can you please provide us with your `mjml` code and screenshots of the issue?

Cheers!

[2016-04-29 14:44] iRyusa commented on #155
Hi, i've just checked.

@isnifer On the mjml there's a `line-height="1" on `mj-text` that break the design.
The issue described here is solved by mjml 2.0, I close it.

@GuillaumeBadi can you update it to remove `line-height` on the try it live example?

[2016-04-29 14:44] #155 closed

[2016-04-29 14:47] iRyusa commented on #119
Can you confirm that's still happening on MJML 2 ?

[2016-04-29 14:47] akacha commented on #207
Sure!

In cases of a single column fits perfect in the cell but where two-column text apology to send you the code in a zip overflows but at this point the machine from where I am working is blocked ports for shipping information github

[respaldo.responsive-v2.mjml.zip](https://github.com/mjmlio/mjml/files/242648/respaldo.responsive-v2.mjml.zip)
![img_6250](https://cloud.githubusercontent.com/ass

[2016-04-29 14:53] ngarnier commented on #191
hey @JoshuaMapley, did it solve your issue?

I'll suppose it did and will close your issue if I don't have any news by next week.

Cheers!

[2016-04-29 15:06] iRyusa commented on #177
Hi there !

You can now `mjml *.mjml` directly into your console in MJML 2.0.1

[2016-04-29 15:06] #177 closed

[2016-04-29 15:07] iRyusa commented on #209
Hi !
It should be ok now on `2.0.1` ! I close it, you can re-open if needed

[2016-04-29 15:07] #209 closed

[2016-04-29 15:10] iRyusa commented on #164
Hello !
As @epayet mention you can use them through ` import { helpers } from 'mjml'` in MJML 2.X

[2016-04-29 15:10] #164 closed

[2016-04-29 15:10] llekn commented on #119
Hi,

Just updated to mjml v2.0.0 and tried the example that @JacquelinClement gave, and got the following:

[code]

Am I doing something wrong? Using node v0.12.13 on Ubuntu 14.04 btw

[2016-04-29 15:13] iRyusa commented on #119
Hi !
Can you try on node > 4 ?

[2016-04-29 15:17] iRyusa commented on #159
Hello !

Now in MJML 2 you can add a `container-background-color` on any column-element https://mjml.io/documentation/#mj-text

[2016-04-29 15:17] #159 closed

[2016-04-29 15:18] iRyusa commented on #135
Duplicate with #200, closing this one because 200 have a implementation proposal

[2016-04-29 15:18] #135 closed

[2016-04-29 15:19] iRyusa commented on #157
Hi !

From MJML `2.0` "core" have no dependencies to `mj-container`, known as `mj-body` in `1.X`.
So now you can render
[code]

[2016-04-29 15:19] #157 closed

[2016-04-29 15:29] iRyusa commented on #40
Updated the issue to close some

[2016-04-29 15:30] iRyusa commented on #124
Dup of #40 adding Google Inbox into the list

[2016-04-29 15:30] #124 closed

[2016-04-29 15:31] iRyusa commented on #24
Hi,
Closing this one, at the moment we have no solution.See #40 for clients that display MJML in mobile version

[2016-04-29 15:31] #24 closed

[2016-04-29 15:40] llekn commented on #119
Mmmm... Updated to node v4.4.3 and got the same error

[2016-04-29 15:45] akacha commented on #24
:/ Thank you

[2016-04-29 19:55] g0ddish commented on #40
I can reliably reproduce the Google Apps for Business desktop rendering emails displaying as mobile and non apps for business where it renders as expected. I may take a deeper dive when I have more free time. Does anyone else have more information regarding this bug?
http://imgur.com/pELSirr

[2016-04-29 20:21] g0ddish commented on #40
Ok, I found a CSS rule that is being passed to regular gmail but not business apps. It looks like a style tag is being passed in one but not the other which is odd because I was under the impression that gmail strips all style tags from all emails.

Offending div
 ![Offending div](http://i.imgur.com/EmhlDQI.png)
Css belonging to div
 ![CSS belonging to div](http://i.imgur.com/aEt7Y1h.png)

[MJML t

[2016-04-30 02:09] zd9027 commented on #170
The issue was solved. Thanks for your help.

[2016-04-30 02:10] zd9027 commented on #170
The issue was solved. Thanks for your help.

[2016-04-30 22:32] liminspace opened #212 "mj-text does not inherit font-size from mj-container"
[code]

Why font-size in mj-container does not affect to mj-text?

[2016-05-01 10:51] jarsbe commented on #212
@liminspace I think you're missing the px. `<mj-container font-size="32px">`

[2016-05-01 14:09] liminspace commented on #212
it not helps

[2016-05-01 16:33] gonchs commented on #119
Node v5.10.1
mjmv v2.0.0

[code]

`mjml -w input.mjml -o output.html`

[code]

[2016-05-02 08:23] pixelize commented on #212
@liminspace it's always better to specify properties on each elements when coding a mail ! A bunch of desktop and web email clients need css on every single elements to render the whole thing good ;)

[2016-05-02 08:28] pixelize commented on #198
Hi @nick13jaremek, I don't think it exists yet but I agree a kind of "mjml lint" would be awesome !

[2016-05-02 09:47] iRyusa commented on #40
Closed by mistake, reopened sorry

@g0ddish Yes, media queries are being totally removed from google apps gmail for unknown reason :/

[2016-05-02 13:09] liminspace commented on #212
I think MJML can make layout more easy and DRY principe is possible.

[2016-05-02 13:54] g0ddish commented on #119
@gonchs you need an opening <mjml> to match your closing </mjml>

[2016-05-02 13:57] iRyusa commented on #119
We'll push a fix for mjml watch really soon, I belive this will fix your issue @gonchs ( don't forget to wrap you section with a `mj-container`

[2016-05-02 20:03] liminspace opened #215 "NodeJS v6"
Add support nodejs v6 and update travis file.

[2016-05-03 00:41] EmmanuelBeziat commented on #159
Cool, thanks ;)

[2016-05-03 07:57] limiterCore opened #216 "How to remove @import declaration for font if I don't need it"
I don't want to
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
to be in my compilated file.

Is this a way to solve it?

[2016-05-03 10:10] iRyusa commented on #215
Added in #217 👍

[2016-05-03 10:10] #215 closed

[2016-05-03 10:43] dalefish commented on #40
Same issue here with the early versions of outlook (lte 2003) showing single column.

![image](https://cloud.githubusercontent.com/assets/11291448/14981007/2eaadb92-1124-11e6-8e92-f8c540e6b44f.png)

[2016-05-03 11:00] iRyusa commented on #119
Can you test this in `2.0.2` ? Thanks !

[2016-05-03 11:02] pixelize opened #219 "-w option doesn't compile file"
Hey guys,

I just updated to 2.0.1, I'm using the -w option with
`mjml -w email/email.mjml -o email/email.html`
 but the .mjml file is not compiled. In fact when I save my file I got an error :

[code]

When I'm using without -w
`mjml test.mjml -o test.html`
the file is compiled so I guess it comes from the watch option.

Thanks for help ;)

Here is my markup:

[code]

[2016-05-03 11:08] iRyusa commented on #219
Hello,

Related to #119 , please update your `MJML` to `2.0.2` it has been patched 👍

[2016-05-03 11:12] pixelize commented on #219
Hi @iRyusa,

Thanks for the quick reply, sorry didn't see you update 1 hour ago ;)
Keep up the good work, mjml is amazing ! :-)

[2016-05-03 12:36] pixelize opened #220 "Directories in output is skipped"
[code]

It will render path as `email.html` instead of `foo/email.html`.
I think the problem is `path.basename()` which removes the directories, see [mjml-cli/src/client.js#L75](https://github.com/mjmlio/mjml/blob/master/packages/mjml-cli/src/client.js#L75)
A possible solution would be using `path.dirname()` before.

[2016-05-03 12:37] #219 closed

[2016-05-03 13:53] dalefish opened #221 "Max Email Height Issue in Windows Outlook 2013+"
I've come across a maximum height issue for the entire email body in Win Outlook 2013+ and was hoping someone may have previously seen a workaround?

I know there is a max-height for images and the text-boundary concern which forces the use of small vertically stacked containers to work around.

I've come across the problem in both hand coded and mjml generated builds.

Examples of two different t

[2016-05-03 13:57] ngarnier commented on #163
Hey @gonchs,

As the MJML slack is now released, I'm closing this issue. See you on Slack!

[2016-05-03 13:57] #163 closed

[2016-05-03 14:09] dalefish commented on #221
Even more perplexing is that the limit seems arbitrary, in the examples above the MJML example is 3146px tall in browser whereas the hand-coded example is 10000px+.

Could potentially be a litmus bug. I've asked them to look into it too, I haven't the physical machines to test this theory.

[2016-05-03 14:58] iRyusa commented on #188
Hello @mamos98 !

Any idea on how it works on Outlook ?

[2016-05-03 15:04] iRyusa commented on #216
Hello @limiterCore

There's a font importer that should doing this job for you ( see https://github.com/mjmlio/mjml/blob/ca544a4cc42a11e1d8a00d3e232f5a68bbf52406/packages/mjml-core/src/helpers/getFontsImports.js )

Note that `Ubuntu` is a default font for many MJML element, you may need to set a custom `font-family` without Ubuntu.

[2016-05-03 15:04] #216 closed

[2016-05-03 15:08] iRyusa commented on #160
Related to #204

[2016-05-03 15:08] iRyusa commented on #204
Dup of 160 closing this one

[2016-05-03 15:24] iRyusa commented on #207
@akacha MJML columns are mean to be stacked on mobile, that's why you can't have 2 columns on mobile yet.

There's a proposal of `mj-group` in this issue https://github.com/mjmlio/mjml/issues/41 , so closing this one

[2016-05-03 15:24] #207 closed

[2016-05-03 15:49] limiterCore commented on #216
Thx for the answer, @iRyusa , but I have not understood.

I use Verdana font in my current project, I set it with font-family everywhere it needs.
And now I don't want to use and import an external font (Ubuntu in this case)

As I undersand I need to go to mjml.core files and change it? If so, can you help me to find it, if I using a gulp-mjml.

[2016-05-03 15:52] iRyusa commented on #216
Can you provide your MJML ? It looks like you miss one of them, it's a regexp that scan the mjml, so you have nothing to do.

[2016-05-03 16:36] #191 closed

[2016-05-03 16:43] arnaudbreton commented on #78
`mjml` root tag is now available from 2.0.0. Closing.

[2016-05-03 16:43] #78 closed

[2016-05-03 16:47] iRyusa commented on #193
Hi !
Just for a follow up @liminspace , i've added a way to add custom social network on mj-social :

[code]
So when #222 will be merged you will be able to add vk.com to your emails !

[2016-05-04 04:47] limiterCore commented on #216
MJML here https://gist.github.com/limiterCore/6c5a1dc7137ea33930a90a0b213a83e5

[2016-05-04 08:01] lohek commented on #216
Hi !

Try this : https://mjml.io/try-it-live/78d82741133bcb2b7e4c98bbfb9c5e2d, i add `font-family="Verdana, sans-serif"` on mj-text and mj-list without `font-family`

[2016-05-04 08:37] limiterCore commented on #216
@lohek, thank you so much :) Now I'm totally understand what should I do to remove any external font imports: set font-family to all components that have it's default value as 'Ubuntu...'

[2016-05-04 08:40] lohek commented on #216
Yup, by default `mj-text`, `mj-list` and `mj-button` have `Ubuntu, Helvetica, Arial, sans-serif` for default `font-family`, so you need change all `mj-text`, `mj-list` and `mj-button` with other font for remove Ubuntu import !

[2016-05-04 09:37] mdrick opened #223 "Display image inline block"
Hi,

I have a question.

I don't succeed to display image in inline-block with mj-image tag.

Can I have some help please ?

[2016-05-04 10:15] iRyusa commented on #223
Hello @mdrick
What do you want to achieve ? Looks like you want to do a 2 column layout. Such as :
[code]

[2016-05-04 11:50] younes0 commented on #223
I think that @mdrick means something like that:
![image](https://cloud.githubusercontent.com/assets/886042/15013288/03e8e5c6-11ff-11e6-9bd7-c348f41b098f.png)
I'm also interested in knowing how please

[2016-05-04 11:57] lohek commented on #223
You can try this

[code]
![](http://puu.sh/oFRQI/5a56e343f8.png)

It's not perfect, but it's a start solution

[2016-05-04 12:02] younes0 commented on #223
@lohek Thanks, got it. I thought that HTML elements were forbidden in the MJML markup :)
Next I have to play with vertical-align, not sure that it's well supported in email clients.

There's also this solution:

source: http://stackoverflow.com/questions/16926941/valign-not-working-in-outlook-html-emails

[2016-05-04 12:21] jitendravyas opened #224 "Warning: Please upgrade your MJML markup to add a <mjml> root tag"
Getting this error on a blank file when I run this command
`➜  mjml mjml --watch index.mjml -o index.html`

[code]

[2016-05-04 12:22] iRyusa commented on #224
Hello,
Can you provide your mjml version and your index.mjml ?

Thanks

[2016-05-04 12:44] lohek commented on #223
And this ?

[code]

![](http://puu.sh/oFTVN/d8eefe59ff.png)

[2016-05-04 12:53] lohek commented on #223
Mobile
![](http://puu.sh/oFUfn/4f3d8e656a.png)

Desktop
![](http://puu.sh/oFUg7/3617a98dce.png)

[code]
Maybe you can use pixel width for column (but beware for responsive)

[2016-05-04 12:56] younes0 commented on #223
@lohek Yes it's vertical-aligned now!, my only concern is that I didn't manage to align right the second TD. I'd like to achieve this:
![image](https://cloud.githubusercontent.com/assets/886042/15014783/430ab9ec-1208-11e6-9a81-d04a59c7f5fc.png)

[2016-05-04 12:58] younes0 commented on #223
OKay I succeded by doing this:
[code]

[2016-05-04 13:02] lohek commented on #223
A little more tricky... but :

[code]

[2016-05-04 13:06] younes0 commented on #223
this seems like a a good candidate for a new component, will try to PR

[2016-05-04 13:32] liminspace opened #225 "Version info"
I have installed `npm -g install mjml@2.0.2`
But `mjml -V` display `2.0.0`
Is it OK?

[2016-05-04 13:44] lohek commented on #225
Ah yes, `mjml -V` show version of `mjml-core` (https://github.com/mjmlio/mjml/blob/master/packages/mjml-core/src/index.js#L10) not just `mjml`, we fix that on next release.

[2016-05-04 14:11] dalefish commented on #221
Identified as a Litmus bug, closing issue.

[2016-05-04 14:11] #221 closed

[2016-05-04 17:58] jitendravyas commented on #224
@iRyusa there is nothing inside my index.html. how to know installed mjml version?

[2016-05-04 18:25] g0ddish commented on #224
For version use `mjml --version`.
What is the content of index.mjml **not** index.html?

[2016-05-05 07:13] jitendravyas commented on #224
[code]

And my index.mjml has nothing. I just ran this command on blank file, is this the problem?

![index mjml nextmail mjml t8uh7](https://cloud.githubusercontent.com/assets/77309/15038165/03df7570-12bf-11e6-82ab-51468e10fa42.jpg)

[2016-05-05 10:11] ngarnier commented on #224
Hey @jitendravyas, indeed you need some mjml in your file if you want it to be transpiled to responsive HTML :).

You can start with this boilerplate:
[code]

[2016-05-05 10:49] jitendravyas commented on #224
@ngarnier Thanks. Though in opinion MJML should give some different message rather than this error if file is blank.

[2016-05-05 11:31] nick13jaremek commented on #198
Hi @pixelize!

Indeed, an `mjml lint` function would be awesome. In the meantime, we wrapped the synchronous `mjml2html` function in a Promise, which suits our needs for the moment.

[2016-05-05 12:09] iRyusa commented on #224
I think you have to update your MJML with npm. Because I haven't the same error than you with 2.0.2

[2016-05-05 12:55] jitendravyas commented on #224
@iRyusa How to update to 2.0.2. I tried but it didn't work

[code]

[2016-05-05 15:07] tupini07 opened #226 "Shouldn't "--watch" inform the user when changes are detected?"
And also inform when 'compilation' has finished?

[2016-05-05 20:58] kila03 commented on #121
@epayet first of all thank you for the starter kit - it rocks! Will it be upgraded to show how it works with v2 of mjml?

[2016-05-06 07:07] lohek commented on #224
Maybe directly try `npm uninstall -g mjml` then `npm install -g mjml`

[2016-05-06 08:57] mdrick opened #229 "Image not center under gmail app for iPhone"
Hi,

I have a problem.

My image is not center under gmail app for iPhone

[code]

[code]

[2016-05-06 11:52] jitendravyas commented on #224
@lohek I did as you said but still

[code]

[2016-05-06 11:54] lohek commented on #224
Very weird https://www.npmjs.com/package/mjml the latest version is 2.0.2
What is your version of NodeJS ?

[2016-05-06 11:57] dalefish commented on #224
I thought it would only report major versions... 2.0, 2.1 etc but not 2.0.2. Correct me if I'm wrong admins.

[2016-05-06 12:30] arnaudbreton commented on #226
Hey @tupini07, thanks for your report and interest in MJML!

Could you please elaborate on what you mean by inform? Do you expect this "notification" to be just a display on standard output or also via a specific status/signal that another app could listen on?

Just want to clarify and be sure of what you expect here.

Thanks!

[2016-05-06 12:33] arnaudbreton commented on #223
Thanks @younes0 for your contribution! Until you open a PR, I'm closing this issue which looks solved to me. Feel free to reopen if something is still missing to you.

[2016-05-06 12:33] #223 closed

[2016-05-06 13:53] hadifarnoud opened #230 "Right to Left support"
I could not find anything on RTL support.

[2016-05-06 14:08] jeremybasolo opened #231 "Column elements are not centered on Yahoo"
Images are not being centered properly on Yahoo Mail. Only solution I found for now is to use an mj-raw tag instead. Example:

                    <mj-raw>
                        <tr>
                            <td style="text-align:center;">
                                <img src="http://link-to-you-image.com/image.jpg" style="display:inline-block;margin: 0 auto;" />

[2016-05-06 14:51] #193 closed

[2016-05-06 15:06] tupini07 commented on #226
Sorry, I should have elaborated more. I imagine a functionality similar to the 'grunt-contrib-watch' task where the user is informed, by means of the terminal, that:
1. A change has been detected
2. The 'compilation' task is running
3. The 'compilation' has finished
I think that for mjml's watch task it would be enough just to inform the user that a change has been detected and the HTML file is be

[2016-05-06 15:33] jitendravyas commented on #224
@lohek
[code]

[2016-05-06 21:07] paOol opened #232 "gulp watch not properly configured?"
[code]

I get that error when trying to setup gulp watch and saving my code. I have tested with a template so the code should be fine.

If I do mjml --watch instead of using gulp, it works correctly.

Here is the gulp.js

[code]

[2016-05-07 15:51] NetoBraghetto opened #233 "Support for title property in images"
Is it possible to add title property in images?
Eg:
`<mj-image src="img/A.jpg" width="325" height="359" alt="A" title="A" padding="0"></mj-image>`

[2016-05-09 08:31] GuillaumeBadi commented on #232
Hey, Can you provide your version of gulp-mjml, mjml, and your mjml template ?

[2016-05-09 11:51] kila03 opened #236 "Missing background-color attribute on mj-body"
After updating from v1 to v2 it is no longer possible to put background color to mj-body - putting background-color only on mj-container only colors background equal to the height of the content instead of the full height of the window. Can we get this option back to mj-body?

[2016-05-09 12:49] iRyusa commented on #236
Hello @kila03,

This is a bug related on the post-render of `mj-container` it will be fixed in the next release. Note that `mj-body` is just a root of a MJML document and no longer support attributes, that's why it's on `mj-container` now

[2016-05-09 12:55] Samaritan89 opened #237 "build part of edm"
mjml is greate to build a full edm, in some case I need to generator just part of edm code, can we do that?

For example, just build the snippet

    <mj-text>Test</mj-text>

[2016-05-09 13:17] epayet commented on #121
@kila03 Thanks! It will be upgraded, I'll do it as soon as I can :)

[2016-05-09 13:42] younes0 commented on #223
I ended up using `mj-social` since the above solutions were not as we expected on some devices/clients. A `mj-social` `icon-url` instead of `base-url` parameter would be a nice addition

[2016-05-09 15:50] ngarnier commented on #230
hey @hadifarnoud, maybe you can help us implement RTL support?

Would love to see how we can do that or even better, a contribution from your side?

[2016-05-09 15:53] ngarnier commented on #231
hey @jeremybasolo, can you please provide screenshots of the issue with associated `mjml-code`? Also, do you know what might be causing it and / or how we could fix it?

[2016-05-09 16:06] jeremybasolo commented on #231
Hi Nicolas,

Thanks for coming back to me!

Here's the mjml code I used:
http://digital.akauk.com/email-templates/two-columns.mjml
Which gives this html:
http://digital.akauk.com/email-templates/two-columns.html

The problem is the book tickets button image not being centered on Yahoo
mail (screenshot attached).
I think it's due to the img tag generated by mj-image, or the wrapping
table. It conta

[2016-05-09 16:39] jeremybasolo commented on #231
Oh and also, noticed that the email was not centered on outlook.com, had to
fix it by wrapping everything inside mj-container
within <mj-raw><center></mj-raw> and <mj-raw></center></mj-raw>

Cheers

---------------------------------

JEREMY BASOLO
+44 (0) 7851 215 231
jeremy.basolo@gmail.com
http://jeremybasolo.com

On 9 May 2016 at 17:06, Jeremy Basolo <jeremy.basolo@gmail.com> wrote:

[2016-05-09 18:49] paOol commented on #232
npm is 3.3.3
gulp is 3.9.1
mjml 2.0.0
gulp-mjml 1.0.0

tried all templates, same issue.

[2016-05-10 05:50] hadifarnoud commented on #230
Sure! let me know where to begin and what to do.

[2016-05-10 07:41] GuillaumeBadi commented on #232
Can you try with the latest `gulp-mjml` release ?

[2016-05-10 09:53] iRyusa commented on #79
Hello,

Just an update for everyone looking for this issue.

We started a new implementation of `mj-attributes` instead of using `JSON` we want to keep the `xml` approach. Here's what we propose:

[code]
What do you guys think about it ?

[2016-05-10 09:55] Tlapi commented on #179
Seems ok for me.

Full width button 100%:
https://www.emailonacid.com/app/acidtest/display/summary/CuQfi4QnwaQvvkZLO3zcar7uvSaLLMXiPtHkthdRj1YgR/shared

Width set to 300px:
https://www.emailonacid.com/app/acidtest/display/summary/FREgjX72eUVf69xg8d8Tl4ZQ29uvTN4i1A2qx7BXnS5jN/shared

But there are some problems with outlook.com, or is this Email on acid bug?

[2016-05-10 10:10] iRyusa commented on #179
Hello, that's look good !

Did you set a valid `href` on your `mj-button` ? That can break outlook.com if not set properly

[2016-05-10 10:11] Tlapi commented on #179
Ah ok, no i did not, i will and test again.

[2016-05-10 10:14] Tlapi commented on #179
Working good: https://www.emailonacid.com/app/acidtest/display/summary/fBHd1TuKNW4s06biz1SR5BtH1QXUXKUTUM4bbF8aHgcYI/shared

Just an alignment issue in Yahoo. But full-width button is without any problems.

[2016-05-10 10:15] iRyusa commented on #179
Looks good to me !
We have "center" issue on Yahoo see #231

[2016-05-11 07:15] jitendravyas opened #242 "My wishlist for mjml"
1) A way to build multilingual HTML Emails
2) inline style should be allowed on `<mj-image style="">` to style `ALT` text
3) There should be a way to control internal padding of `<mj-button>`
4) I guess currently there is not way to horizontally aligned `<mj-table>`
5) (MJML App) - Option to save gist as private gist in user's account
6) An option to control spacing between icons for` <mj-social>`

[2016-05-11 09:14] janus-reith opened #243 "Background brocken in Outlook since 2.0"
In MJML <= 1.3.4:
The full Email has the background color that was set with <mj-body background-color="#ebebeb">
`<body style="background: #ebebeb;">
  <div style="background-color:#ebebeb;"><!--[if mso]>`

Since MJML 2.0:
Everything around the 600px table is left white.
`<body>
  <div style="background-color:#ebebeb;"><!--[if mso]>`

I don't know why this was removed, but apparently Outlook needs

[2016-05-11 09:18] iRyusa commented on #243
Hello @janus-reith !

Closing because related to #236 will be fixed in the next release ! Sorry about that

[2016-05-11 09:18] #243 closed

[2016-05-11 09:26] janus-reith commented on #243
Sorry, just found #236 aswell and wanted to close this, you were faster :)

[2016-05-11 09:51] ngarnier commented on #242
Hey @jitendravyas,

Thank your for your issue, we appreciate your involvement in MJML.
​
Unfortunately, each issue must be specific to one bug or feature request or it is impossible to track, so I have to close your issue. It doesn't mean we don't take good note of your feedback which is very valuable to us.
​
Finally, if you want to see those wishes from your list granted, the best is to submit p

[2016-05-11 09:51] #242 closed

[2016-05-11 11:42] funnyfrontend opened #244 "Gmail desktop Email Display the grid very bad"
I simply copied the html generated in the jmlm render the Sendy platform. And it does not work in Gmail.

i´m using Chrome Version 50.0.2661.94 m, I try with other computers and ips...
![screenshot-mjml io 2016-05-11 13-38-03](https://cloud.githubusercontent.com/assets/10914049/15179727/ec251ae8-177d-11e6-8215-98abe3ade750.png)
![screenshot-mail google com 2016-05-11 13-38-59](https://cloud.github

[2016-05-11 11:56] iRyusa commented on #224
@jitendravyas Can you try to update to node > 4 please and try again ?

[2016-05-11 19:52] jitendravyas commented on #166
I also need to make ghost button with <mj-text>, don't know how to do it

[2016-05-12 07:11] lohek commented on #166
If you want simple ghost button, you can try this
[code]
But no border-radius for the moment.

[2016-05-12 07:14] jitendravyas commented on #166
thanks. i want to make it visually look like button but i dont want to make it actual button because this block will have a coupon code which people can copy.

[2016-05-12 07:21] lohek commented on #166
And this ?
[code]
![](http://puu.sh/oOXKj/015df2d967.png)

[2016-05-12 09:33] erochersimplicite commented on #244
Hello @funnyfrontend , you can see this --> https://github.com/mjmlio/mjml/issues/24 <-- thread for more information on this issue. Don't know when / if there will be a fix for this ...

[2016-05-12 09:36] iRyusa commented on #244
Hello !
As @erochersimplicite said, this is a bug with Google apps Gmail see #24 , I'm closing this one !

[2016-05-12 09:36] #244 closed

[2016-05-12 12:55] jitendravyas commented on #166
Nice but it can't have radius

[2016-05-13 04:55] jitendravyas commented on #224
it works after node upgrade though I need to run the watch command each time I want to see the result

[2016-05-13 05:00] jitendravyas opened #245 "How to use custom google font?"
I want to use custom fonts from google fonts but don't know how to do it in mjml.

[2016-05-13 10:23] kila03 commented on #236
Any idea when it will be released @iRyusa?

[2016-05-13 13:14] ngarnier commented on #245
Hey @jitendravyas,

This is not possible at the moment but please have a look at this issue and feel free to share your opinion: https://github.com/mjmlio/mjml/issues/80.

I can still suggest 1 workaround: loading your custom font directly in the output HTML.

I'm closing this issue to keep the discussion on #80

[2016-05-13 13:14] #245 closed

[2016-05-13 13:31] ngarnier commented on #237
Hey @Samaritan89,

I'm not sure to understand what you need. Can you please provide more details of what you want to do and what you expect from MJML in this specific scenario?

Cheers!

[2016-05-13 18:31] lRlevolution opened #250 "Aligning issues on multiple mail clients"
Hi everyone. I'm having issues with elements aligning to the left instead of center since updating MJML. So far the issue is happening on Yahoo, iOS Safari Gmail and gmail app android.

This is my MJML Code that before updating has worked with no issues but now displays incorrectly:
[code]

If it helps this is the outputted HTML of the old **WORKING** version to compare to the top version (once ou

[2016-05-13 20:26] freakintoddles2 commented on #24
@iRyusa is there any hope on this issue beyond petitioning gmail?

[2016-05-14 06:49] jitendravyas opened #251 "mj-button going left aligned in Yahoo mail"
This is the code I'm using

[code]

[2016-05-14 07:37] jitendravyas commented on #233
I'm just curious, why you want to add title to the image?

[2016-05-14 07:47] jitendravyas opened #252 "[Bug] <mj-raw> removing uncommented HTML"
Input

[code]

Output

[code]

See live example https://mjml.io/try-it-live/0170afa330c8dac53adfe3e9d3546569

[2016-05-14 08:00] jitendravyas opened #253 "[Solved] Add <tr>, <td> inside <mj-raw> if you keep a <table> inside it"
Just documenting here so other people can know about it.

I was facing this problem of getting some `<mj-section>` outiside the main container in **HTML** output
![image](https://cloud.githubusercontent.com/assets/77309/15267124/8a34213e-19d6-11e6-91e0-37750c8f58a5.png)

And because of that this white (left and right) space was coming in some email clients.
![image](https://cloud.githubusercontent

[2016-05-14 08:58] jitendravyas opened #254 "[Feature request] Border-radius on <mj-section>"
There should be an option to add  `border-radius` to `mj-section` so we have design like this if we want

![user interface sketch fady7](https://cloud.githubusercontent.com/assets/77309/15267441/cfab6fca-19df-11e6-8e2e-a7f9600df181.jpg)

In my current project, I need to do this. Currently I need to edit html out and add this manually

`border-bottom-right-radius: 4px;border-bottom-left-radius: 4px